[2018-05-07 20:09] mojca opened #1 "Create issues and milestones for GSOC 2018"
Turn the timetable from your application into a list of issues and milestones.

[2018-05-09 00:42] Vishnum98 opened #6 "Website Structure Ready"
By phase 1 completion the website structure should be ready.

[2018-05-09 00:50] Vishnum98 opened #13 "Git Log"
Implement this feature.

[2018-05-09 00:51] Vishnum98 opened #15 "Documentation"

[2018-05-09 04:32] Vishnum98 commented on #20
Discussion on ml?

[2018-05-09 04:33] JacksonIsaac commented on #20
Apologies, I meant mailing list.

[2018-05-09 05:55] l2dy commented on #4
You can use these for free:
* GitHub Pages
GitHub Pages sites are subject to the following usage limits:
  * GitHub Pages source repositories have a recommended limit of 1GB .
  * Published GitHub Pages sites may be no larger than 1 GB.
  * GitHub Pages sites have a soft bandwidth limit of 100GB per month.
  * GitHub Pages sites have a soft limit of 10 builds per hour.
* [Netlify](https://www.netl

[2018-05-09 06:52] mojca commented on #18
When creating issues, you should add some description to it, so that it's clear to anyone reading the issue what exactly needs to be done. In any case, you should not have empty descriptions anywhere. In this case probably only you know what you had in mind (and might no longer remember what you had in mind by the end of the summer).

Most likely it would not make sense to work on this anyway, but

[2018-05-09 06:58] mojca commented on #4
I didn't try it myself, but I'm almost sure that this is not something specific to Heroku and I'm almost sure that this should work out of the box when configured properly.

See https://docs.djangoproject.com/en/2.0/howto/static-files/ and let us know if there's something you don't understand. If you really cannot make it work on Heroku, create a new branch and set it up in a way that will work on

[2018-05-09 07:01] mojca commented on #15
As with other issues, please provide some description. In this particular case, I believe that most of the documentation should be written while the functionality is being developed. Then it will be much easier to keep documentation up to date. Planning to write all the documentation and doing all the tests at the end is likely to "fail".

For example, given that your super basic app is already wo

[2018-05-10 09:47] JacksonIsaac commented on #20
Also please make 'Docs' to 'docs'. Take care of grammar and capitalisation before pushing the code.

Let us know if you need any help or want to discuss the timeline. Probably you can move the timeline and gsoc related documents to /docs and we can discuss there.

[2018-05-11 01:27] Vishnum98 commented on #4
Implemented static files on django and heroku successfully.

[2018-05-11 01:43] JacksonIsaac commented on #4
Good progress. Keep it up!

[2018-05-13 07:42] Vishnum98 commented on #1
Completed.

[2018-05-13 07:42] #1 closed

[2018-05-13 07:46] Vishnum98 commented on #3
One help i got from community was to :
https://firebase.google.com/pricing/

And mojca has access to a clean virtual machine.
Once we get hands on that.Things would get extremely simple.

[2018-05-13 15:13] mojca commented on #2
Before going into further details, I spent a lot of time thinking about whether to:
* support history of port changes
* support the fact that a different version of macOS might either use a different version of the software, or not support that software at all
* support other differences between different OS versions, like a port that provides different variants

One thing that I'm by now pretty c

[2018-05-14 00:43] ryandesign commented on #2
I worked on this problem for my 2013–14 MacPorts web app attempt. I did have a script that processed repository commits from the beginning of time to add them to the database. My intention was to be able to keep track of deleted ports, as you mentioned, and also to keep track of when a port was updated to a new version. Not only does this let us have a timeline of a port on that port's page, we ca

[2018-05-14 05:51] mojca commented on #2
@ryandesign, you raised some interesting points. It would be cool to support showing a list of "recently updated / added / deleted" ports, but I would then implement this with a slight "hack" which would only record when the port was last updated, rather than recording full history of maintainer changes, variant changes, dependency changes, version changes, path changes, URL changes, ... We could

[2018-05-14 05:53] mojca commented on #20
The basics were done. I suggest that we (mentors) go over the list again with the deadline of, say, tomorrow, fix any minor remaining issues and then close this.

[2018-05-14 05:55] ryandesign commented on #2
I agree, history can be added later.

My version of the project used Subversion, since we weren't on Git at the time. Using the Git commit timestamp would match the timestamp that was available with Subversion.

[2018-05-15 17:41] Vishnum98 opened #22 "Display 5-10 Commits"
Listing 5-10 recent commits done on the port with a hyper link to them

[2019-05-25 08:36] mojca opened #2 "Optimise Updates from Portindex"
We would ideally update the app in two different ways:
* After "each" git commit. (Probably triggered from either github or from an action in buildbot?)
* Once per day from the latest portindex (to ensure that we catch up even if some network connectivity went down in the meantime, or if there were some strange bugs with update procedure etc.).

We would start with a reliable way to update all por

[2019-05-25 08:38] mojca opened #3 "Write first unit tests"
We need some unit tests to check the functionality of the scripts.

I suggest starting with tests for checking for correct functionality of parsing the authors.

It would be nice to also enable running the tests on Travis or Azure pipelines to simplify continuous integration.

[2019-05-26 20:47] mojca opened #4 "Deploy the site on our server"
Try to get the testing site deployed (with the help of @neverpanic and @raimue).

[2019-05-26 21:29] mojca opened #5 "Enable statistics submissions"
Once the app is deployed, we need to enable statistics submissions.

[2019-06-08 06:08] mojca commented on #5
For the temporary deployment on Heroku this got fixed with https://github.com/macports/macports-ports/pull/4521

[2019-06-08 06:08] #5 closed, assigned to nobody

[2019-06-08 06:20] arjunsalyan opened #7 "Tabbed views on Port-detail"

[2019-06-08 06:27] arjunsalyan opened #8 "Optimising All Builds"
Below is what I (@mojca) might potentially like to see added or improved. I'm not opening a new ticket for now, but feel free to do just part of what's on the list and then split the remaining part into its own ticket with its own milestone, as there are probably too many things to address at the same time, and some need adjustments in the buildbot setup as well.

* Make sure that `start_time` is

[2019-06-08 06:35] mojca opened #9 "Figure out how to build macports-base on Ubuntu"
... and set up a bunch of linux builders on Travis for the base.

[2019-06-08 06:40] #3 closed, assigned to nobody

[2019-06-08 06:41] arjunsalyan opened #10 "Increase Test Coverage"

[2019-06-08 06:43] arjunsalyan opened #11 "Run portindex2json.tcl on Buildbot"
It has been mentioned in https://github.com/macports/macports-contrib/pull/2#issuecomment-473679395 that it would make sense to generate portindex.json on our server and provide it alongside the regular port indices for various operating systems.

Our portindex is currently created at two different locations:
* At https://github.com/macports/macports-infrastructure/blob/master/jobs/mprsyncup as a

[2019-06-08 06:46] arjunsalyan opened #12 "Setup HttpStatusPush on Buildbot"
If 0.8.14 and 2.3.0 send almost the same JSON, then we could deploy it on the official buildbot setup immediately. And if not, then it probably makes sense to stick to 2.3.0 only.

http://docs.buildbot.net/2.3.0/manual/configuration/reporters.html
http://docs.buildbot.net/0.8.14/manual/configuration.html

@ryandesign @rajdeepbharati

[2019-06-08 07:07] rajgoesout commented on #12
http://docs.buildbot.net/2.3.0/manual/configuration/reporters.html#httpstatuspush

[2019-06-08 07:12] arjunsalyan commented on #12
Hmm. Thanks. Then we should probably set it up on the upgrade you have planned.

[2019-06-09 20:28] mojca opened #14 "Show distribution of macOS version on statistics page"
As the first step before implementing anything more complex, it could be a nice exercise to show the distribution of macOS versions among the users who submitted the statistics:
* show the distribution of macOS version for users who made the submission in the last 4 weeks (among all the users who made the submission in the last 4 weeks, pick the latest submission from each user and count how many

[2019-06-10 11:01] raimue commented on #11
What does the webapp use the JSON file for? Will the PortIndex data be imported regularly? Would it be desirable to fill the database directly instead? The database for the current ports search page on the website is filled from the buildbot, but to which location should we deploy a resulting JSON file? How would the webapp be triggered to use it?

I think adding another step to mprsyncup and alwa

[2019-06-11 12:26] mojca commented on #11
Well, another point is that repology would be more than happy to have this file available, but with respect to the webapp, this is a bit of "fluid answer".

Ideally the webapp would be updated immediately after each commit. The portindex can of course (and probably will at some point) be generated locally. It's not yet absolutely clear what the most efficient frequent update method will be.

Yes.

[2019-06-11 15:19] arjunsalyan commented on #8
Current situation of the page and table:

| Query | Time |
| --- | --- |
| Current setup on the app (100 entries per page) |  9 sec |
| Current setup on the app (30 entries per page) | 5 sec |
| No filters, no pagination (load first 100 entries) | 9 sec |
| Upgraded AWS Database  | -1 sec for each |
| Raw SQL query to load last 100 entries | 3.5 sec |
| Raw SQL to load 100 entries ordered by time_

[2019-06-11 20:19] mojca opened #16 "Add favicon"
This is just a super tiny low priority request to add a favicon to the app for easier site identification (it could be taken from the main macports site, I guess).

[2019-06-12 20:49] mojca commented on #16
This is a totally trivial issue, but it is not how tickets are usually handled. When you create a commit and either push it directly or open a pull request, you can simply add
[code]
or
[code]
at the end of commit message and this issue will be automatically closed as soon as the commit gets merged.

The difference between the two is that the first one will keep working if we one day decide to ren

[2019-06-13 09:23] arjunsalyan commented on #16
Thank you. I did not know this.
Just one doubt- If I cherry-pick the old commit into the new PR, would rebasing still work and adjust the sequence in old branch? I am feeling it should not work because of the sequence destroyed.

[2019-06-13 10:00] arjunsalyan commented on #16
Please ignore it, I found the answer.

[2019-06-13 13:14] #16 closed, assigned to nobody

[2019-06-14 15:12] arjunsalyan commented on #11
I would start the work on this- but I am having difficulties understanding this file [mprsyncup](https://github.com/macports/macports-infrastructure/blob/master/jobs/mprsyncup), not sure how exactly do I start.

[2019-06-14 19:58] umeshksingla commented on #11
Too many variables, I know. Try to go through the code as a shell script and substitute variables for their values from the top.

It essentially just fetches the latest code from the macports-base repository and checks if it is updated with the last version fetched. You can infer it from L126:

`[ "${RBASE_OLD_REV}" = "${RBASE_NEW_REV}" ] && RBASE_CHANGED=0`

where `RBASE_OLD_REV` and `RBASE_NEW_R

[2019-06-14 21:33] ryandesign commented on #11
We run mprsyncup on the same machine which is the private rsync server. It runs a slightly patched version of mprsyncup, including changing RSYNCROOT to the location where the files are actually located on the server. The public rsync server (rsync.macports.org) periodically connects to the private rsync server to get whatever has changed.

[2019-06-15 07:34] mojca opened #18 "Group subports"
When displaying all ports, all ports belonging to a particular maintainer etc. we would sometimes like to group subports (sharing the same path) together.

[2019-06-15 08:17] mojca commented on #7
Could we add at least some anchor to select a particular view? So that we could, say, link directly to the build status or statistics of a port? At the moment one can only link to the summary page.

Another minor request: can we add back the numbers of trac tickets? I would simply put the number at the front (on the left) and make it a clickable link to the trac ticket. With that in place maybe "V

[2019-06-15 08:22] mojca opened #19 "Add number of trac tickets"
A potentially useful information would be the number of trac tickets, so that the `Trac Tickets` tab would read `Trac Tickets (3)` instead and immediately give us a sense of the potential number of issues.

Or, alternatively, something like `Trac Tickets (5f, 2b)` meaning that there are 5 feature requests and 2 bug reports. I believe we have:
* feature requests
* bug reports
* update requests (whe

[2019-06-15 08:39] mojca commented on #7
I would also suggest printing the name and description of the port above the tabs and always have it visible, also when viewing the build or installation statistics, tickets etc. And maybe put `View on GitHub` to the right of port name?

Probably port health could also be above statistics.

![image](https://user-images.githubusercontent.com/15606/59549157-cc106a80-8f59-11e9-8e01-d43449776311.png)

[2019-06-15 14:24] arjunsalyan commented on #7
I will see if this is possible, thanks.

[2019-06-15 17:18] arjunsalyan commented on #19
I have mostly taken care of it by showing the count of tickets in the tab-button. I have also added ticket-id for the tickets. Thank you

[2019-06-15 18:24] mojca opened #20 "Add build history for 10.5-10.8"

[2019-06-16 14:15] arjunsalyan commented on #11
I am looking for some advice about the right place to fetch from and store `portindex2json.tcl`. It is currently available at [macports-contrib/portindex2json](https://github.com/macports/macports-contrib/tree/master/portindex2json). Thanks

[2019-06-16 14:37] arjunsalyan commented on #18
Without any redesigns to tables and just by some manipulation in the table- this could be achieved. But there is a problem due to pagination. There might be cases when some of the sub-ports will be on the next page, and by nature they will be folded but the parent that should unfold them would be left on the previous page- so they will never show. To avoid this situation we may have them unfolded

[2019-06-16 17:05] mojca commented on #19
Thank you very much, I'm happy.
The tab with tickets makes more sense now and the number is useful as well.

Unrelated to this ticket I would say that there is no need for using the yellow colour for "No tickets found".

There is also no need to use yellow for the tickets count. Some shade of gray might be fine, even though you now gave me a new idea (with super super low priority). We could use r

[2019-06-16 18:37] mojca commented on #11
The script clones both ports and base. Maybe the easiest thing to do would be to simply clone `macports-contrib` along with the two and use `portindex2json` from that clone. Or at least that's what I would probably do. This will also ensure that you'll always use the latest version of the script. If you just ask Ryan to install the script somewhere and use it directly, it will also get outdated.

[2019-06-16 18:56] mojca opened #21 "Provide basic API with information about ports"
We would need a "complete" API with the information about ports at some point, but having something basic now would also help other projects, in particular @rajdeepbharati's buildbot views (feel free to provide feedback about what is needed).

I assume that something to start with could be for example
[code]
as per your specification in the proposal, but I don't care if we don't yet provide all th

[2019-06-16 19:18] rajgoesout commented on #21
A web api with the following endpoints would help my project:

#### - `GET /ports`
#### - `GET /port/portname`
(with the details like maintainer, etc.) example:
[code]
#### - `GET /port/portname/builds`
(list of builds for each port) similar to https://buildbot.buildbot.net/api/v2/builds?property=*

Thanks.

[2019-06-17 06:49] arjunsalyan commented on #21
Thank you, I will take it up ASAP.

What do you expect in return with this- all ports or ports under a category?

[2019-06-17 07:20] rajgoesout commented on #21
It may be all ports or category based, whichever is convenient for you. (I guess all ports will make the api slow)
Also, there should be build information in /port/portname/builds, as in your webapp https://frozen-falls-98471.herokuapp.com/port/py37-tensorflow/

[2019-06-17 07:54] arjunsalyan commented on #19
Looking at this: https://trac.macports.org/query?status=!closed&port=~perl5.28 . Do I need to pick the `type` column? It here says `defect` for all tickets.

[2019-06-17 09:39] mojca commented on #19
Yes.

[2019-06-17 12:48] arjunsalyan commented on #21
I have made the API to fetch port-info active. Please see this: http://frozen-falls-98471.herokuapp.com/api/v1/port/faust/

**GET <site_url>/api/v1/port/{port-name}**

It will currently give you the following info:
- name
- portdir
- categories
- maintainers
- version
- variants

Let me know if you need any other property. I will add other APIs very soon. Thanks

[2019-06-17 13:30] rajgoesout commented on #21
This is great.
Could you enable CORS (since I am blocked from accessing https://frozen-falls-98471.herokuapp.com/ from the frontend)
Maybe you can use django-cors-headers

[2019-06-17 14:13] arjunsalyan commented on #21
Ok. Which origins do you need it to be enabled for?

[2019-06-17 14:44] rajgoesout commented on #21
http://localhost:8010/

[2019-06-17 17:23] arjunsalyan commented on #21
Please try now, I have enabled CORS for 'GET' method at '/api/*' from localhost:8010.

[2019-06-17 17:47] arjunsalyan commented on #21
I have also enabled build history at:

**GET /api/v1/port/{port-name}/builds**

Example: http://frozen-falls-98471.herokuapp.com/api/v1/port/perl5.28/builds

[2019-06-18 05:35] rajgoesout commented on #21
Thank you. Is it possible to also pass the `results` value?
http://docs.buildbot.net/0.8.12/developer/results.html?highlight=results#module-buildbot.status.results

[2019-06-18 13:11] arjunsalyan commented on #21
We probably do not have `results` in the database yet.

[2019-06-18 18:56] arjunsalyan commented on #21
Even some categories have as much as 6750 ports. Either way, the API is going to be slow due to system limitations on the demo app.

#### -`GET /api/v1/category/{category-name}/ports/`
should return you a list of JSON objects containing only the names of ports in that category.

Please let me know if you need some changes with this.

[2019-06-18 20:25] rajgoesout commented on #21
Okay, then it would be nice to have an api with the list of ports (not grouped by category)

[2019-06-18 20:27] mojca commented on #21
Thanks a lot for implementing this.

I guess that the best way to serve names of N thousand ports is by only returning them in chunks of 100 (or any specified number of ports, with the maximum being specified somewhere, for example 100 or 1000). It's the same as what pagination does. I imagine that retrieving just names of ports should be relatively fast anyway, as long as you make sure that djang

[2019-06-18 20:44] rajgoesout commented on #21
The view has a link to the build, where you can see the step which failed. For example: https://buildbot.buildbot.net/#/builders/6/builds/773

Further color-coding may be done for steps (that would be custom, and depend on macports steps). OTOH the error message could be shown in the view, but then it might occupy too much space.

[2019-06-19 09:40] arjunsalyan commented on #21
I have added two more API calls:

#### `GET /api/v1/ports/count/`
It would return a JSON object with `count` and `time`.

#### `GET /api/v1/ports/{{page_size}}/page/{{page_num}}`/
`page_size` (int) is to adjust the size of chunks, and `page_num` (int) lets you paginate over the chunks. Ports are ordered alphabetically.

Example: `page_size = 1000` and `page_num = 1` returns ports from 0 to 999 whe

[2019-06-19 17:23] arjunsalyan commented on #8
I recently did some testing to reduce the number of two-table operations. Currently we have `builder` stored in a separate table. Both filtration and displaying builder name involves operations on two tables. I tried to drop the operations done on `builders` table:

1. Using primary key for "Filter based on builder"
2. Drop fetching names of builders from the second table.

And the load time reduc

[2019-06-19 18:52] rajgoesout commented on #21
Thanks!

[2019-06-21 08:52] raimue commented on #11
@umeshksingla

Yes, the output of the mprsyncup script is a directory that will be served by rsync. The rsync protocol is used to replicate this directory on another machine.

Not necessarily, as I think adding this to base will be a lot more work and also requires a base release before it can be used in the mprsyncup script. I would not rule this out as a later goal, though.

Just start with the

[2019-06-24 15:21] arjunsalyan commented on #21
Please let me know if you need more data from the app.

[2019-07-08 20:51] mojca opened #23 "Storing buildbot success status & searching for failed builds"
_Originally posted by @umeshksingla in
https://github.com/macports/macports-webapp/timeline_

I cannot comment on resolved CR, so I'm opening an issue here to reply (the only thing github gives me, but maybe the correct place after all).

What might be a cleaner way to do this would be storing the precise result into a separate column, only saying `0` (success) or `1` (failure), equivalent to http

[2019-07-09 15:59] #20 closed, assigned to nobody

[2019-07-09 16:02] umeshksingla opened #24 "Refactor code in load and update in Port model"
Thread: https://github.com/macports/macports-webapp/pull/13/files#r298804614

I don't particularly like code duplication either, and I'm still confused about the amount of time it takes to populate our database, but as long as we have such a huge gap between update and efficient data store, I don't mind if we keep an efficient method in. Just make sure that it's properly and extensively backed by

[2019-07-09 16:03] umeshksingla opened #25 "Get rid of fixed versions for requirements"
This comment is not specific to any particular line, but eventually I would like to get rid of so stringent requirements. I would only specify some limitations when there's a known incompatibility and an older version is needed.

With unit tests we should always be testing against the latest version from pypi, so that one can immediately notice if something gets broken and needs fixing for compati

[2019-07-09 16:04] umeshksingla opened #26 "Use GET request format for optional parameters like `page`"
This API call sounds a bit strange to me (I wanted to comment immediately, and didn't / forgot). I'm not sure what the best way would be. Web sites would use a question mark with optional parameters after it, but I'm not sure if that's also the usual way for such API.

If I look at GitHub's own API:
https://developer.github.com/v3/repos/commits/#list-commits-on-a-repository
they do seem to use que

[2019-07-09 16:05] umeshksingla opened #27 "Separate development and production branches"
Trying to clarify what I wanted to say here. We could have a master branch, and potentially a "deployment" branch, and these IPs would not be listed in the master branch. I just find them strange to have them here. But let's postpone this. We can delete them later.

_Originally posted by @mojca in https://github.com/macports/macports-webapp/pull/13_

[2019-07-09 16:42] umeshksingla opened #28 "Tests (or refactor) parsing_scripts/git_update"
I am worried about `OSError` thrown in cases other than the two you mentioned above.

_Originally posted by @umeshksingla in https://github.com/_render_node/MDExOlB1bGxSZXF1ZXN0Mjg2NDkwNzY3/timeline/more_items_

[2019-07-09 16:45] umeshksingla opened #29 "Is django needed both outside and inside the requirements file to Travis?"
Thread: https://github.com/macports/macports-webapp/pull/13#discussion_r294192381

There's `Django==2.1.7` in requirements.txt which probably needs to be removed.

_Originally posted by @umeshksingla in https://github.com/macports/macports-webapp/pull/13_

[2019-07-09 16:55] umeshksingla opened #30 "Portindex json to use dictionary like structure"
In continuation of the conversation here: https://github.com/macports/macports-webapp/pull/13/files#r298847004

The format of portindex.json output doesn't directly allow us to access a port by its name and one has to loop over the entire list to find a port's details.

From Zulip:

[2019-07-09 17:22] arjunsalyan commented on #29
@mojca previously suggested that we might want to test only for the latest versions.

Removing `Django` from `requirements.txt` would make us to install `django` separately (separately from `pip install -r requirements.txt`), and this is the only reason I am not sure about this. We may either remove the version and just let Travis test for the latest version, or may ourselves add some latest versi

[2019-07-09 17:42] mojca commented on #29
No, I didn't want to suggest that we need to test **exclusively** the latest version. It doesn't hurt to have multiple tests setup, even if there's probably not much of a difference (I don't care that much if we have just one version tested). I would not remove django from that list, I would just probably remove the old hardcoded version.

It's two-fold problem. Either we put all the versions ther

[2019-07-11 21:15] mojca commented on #19
I consider this done, thank you very much.

[2019-07-11 21:15] #19 closed, assigned to nobody

[2019-07-11 21:15] #7 closed, assigned to arjunsalyan

[2019-07-11 21:26] mojca commented on #11
This was finished in week 5.

[2019-07-11 21:26] #11 closed, assigned to arjunsalyan

[2019-07-12 08:02] rajgoesout commented on #12
@arjunsalyan What json spec do you need?
Or do you want me to send the default: https://docs.buildbot.net/latest/manual/configuration/reporters.html#json-object-spec

[2019-07-12 12:25] arjunsalyan commented on #12
The information needed about a build is (@mojca: could you please verify this):
- builder name
- build id
- watcher id
- port name
- port version
- start time
- time elapsed
- status

[2019-07-12 12:44] rajgoesout commented on #12
Okay, I will customize the request

[2019-07-12 13:09] arjunsalyan commented on #12
Thank you.

[2019-07-12 21:05] mojca opened #35 "Support sending stdlib information and displaying that statistics as well"
I'm looking at [vtk stats](http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/port/vtk/?tab=stats).

![image](https://user-images.githubusercontent.com/15606/61158031-17398100-a4f8-11e9-9eac-5fb7049afdd7.png)

Curious enough our buildbot builds are failing, yet we have a user who has it installed on 10.5.

I miss two pieces of information here:
* One should be readily available: current plat

[2019-07-12 21:48] mojca commented on #12
* For status it probably makes sense to store two separate things (as I mentioned who-remembers-where a while ago):
  * Numeric status that's equal to Buildbot's own code (0 = success, 1 = ...)
  * String value (`Failed install dependencies of git`)
* For time elapsed it could be kind of cool to separately store the build time of the port itself, as well as the total build time (including activati

[2019-07-13 05:27] rajgoesout commented on #12
`.../#/builders/247/builds/3` here builderid is 247 and number (build number) is 3 (buildid may be different)
For example, in
http://ec2-18-188-105-249.us-east-2.compute.amazonaws.com/api/v2/builds/2
buildid is 2 (2nd build of ALL builds in this buildmaster setup) and number is 1 (1st build of builderid 4).

[2019-07-13 06:20] mojca opened #36 "More reliable submission of statistics"
If network is down at the time of statistics submission, the submission is skipped. We could store the timestamp of the last successful submission and try to check more often.

Or some way to make sure that participating users do the submission.

[2019-07-13 06:23] mojca opened #37 "Use stacked columns for xcode version statistics"
Sort on macOS version of the x axis, on xcode version on the y axis.

[2019-07-13 06:24] mojca opened #38 "Add anchors to all tables"
Provide a way to link to all titles of tables, so that one can link to one individual table

[2019-07-13 06:42] mojca opened #39 "Create a single paginated table with port installation statistics"

[2019-07-13 07:07] arjunsalyan commented on #8
I believe this can be closed now. 'All builds' were optimised. @mojca

[2019-07-13 07:08] arjunsalyan commented on #2
Updates have also been fixed.

[2019-07-13 07:09] arjunsalyan commented on #14
This has been completed.

[2019-07-13 07:09] #14 closed, assigned to arjunsalyan

[2019-07-13 12:38] mojca commented on #12
Regarding the mention of my request above, there's already a ticket for that:
https://github.com/buildbot/buildbot/issues/3465 (it was mentioned on IRC).

[2019-07-13 20:18] mojca commented on #12
In the quoted API the builderid is 4, but that piece of information is not as useful as it could be.

On 0.8 we actually have builder name rather than builder id:
* https://build.macports.org/builders/ports-10.14_x86_64-builder/builds/34570
The URL uses `ports-10.14_x86_64-builder` rather than some "random builder number" as is the case in the latest version.
And also the [api](https://build.macpo

[2019-07-13 20:22] rajgoesout commented on #12
You can get builderName from http://ec2-18-188-105-249.us-east-2.compute.amazonaws.com/api/v2/builders

Okay I will look into this issue

[2019-07-13 20:56] mojca commented on #12
OK, but probably using one level deeper, for example http://ec2-18-188-105-249.us-east-2.compute.amazonaws.com/api/v2/builders/4 directly to get the name just for the 4th builder.

Does that mean that buildbot would send some info to the app, but then app would make additional API calls back to the buildbot to get more information?

This is a relatively low priority though. Just keep working on th

[2019-07-14 21:05] mojca opened #40 "Improve listings of port dependencies"
When listing port dependencies, separately list different types of dependencies.

We would also like to see the reverse list: which ports depend on the port in question. (Could go to a separate ticket.)

[2019-07-15 19:39] #8 closed, assigned to arjunsalyan

[2019-07-15 20:00] arjunsalyan commented on #40
Please check [this](http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/port/wget/?tab=summary) if it looks fine.

[2019-07-15 21:05] mf2k commented on #40
Sorry for doing a drive by review. First of all, it looks great! The trailing commas in the Summary tab really bug me though - for dependencies, maintainers, categories and variants. How about getting rid of them entirely and just use a space as a separator (rather than comma and space now)?

[2019-07-16 09:00] arjunsalyan commented on #40
Thank you. I have removed the trailing comma. Do we still want to use just space as a separator?

[2019-07-16 09:49] mojca commented on #40
I don't really care if it's space or comma, both work just fine.

As for the change: how difficult would it be to put the labels (test, build, extract, ...) below Dependencies and remove bold styling? Then the actual dependencies would be left-justified just below everything else.

Also, I would probably replace "Dependencies" with "Depends on". And then add "Dependency of" below to list which por

[2019-07-16 15:25] mf2k commented on #40
I prefer space only as a separator. It's easier to copy and paste into a command line statement that way.

[2019-07-16 20:31] mojca commented on #40
Thank you very much for adding dependent ports. But you probably want to put those on the bottom, as is evident in [this example](http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/port/gettext/?tab=summary). And we may want to sort them.

[2019-07-16 20:41] mf2k commented on #40
I agree that the dependencies should be sorted by name. Also please right justify the dependency types `test:`, `build:`, `extract:`, `lib:`, etc.

[2019-07-16 21:12] mojca commented on #39
Very cool!

What I miss most is some "accumulated sorting" (not sure how to call this). That is: when you first click that you want to sort by total number of installations, then you click requested number of installations, it could make sense to sort by requested number first. Then among the ports with the same number of requested installations, sort by the number of total installations. And fina

[2019-07-17 06:28] arjunsalyan commented on #39
One problem I am facing with multi-field sorting is  priority- which fields to give priority while sorting. If I use the field selected first as the higher priority, then suppose the user wants to change the priority? What is the best way to allow this? A reset button?

[2019-07-17 06:51] mojca commented on #39
I would start with default being
[code]
Now assume the user clicks on `requested ASC`. Then you change to
[code]
Now the user clicks on `total DESC`. You change the order into
[code]
Then the user clicks `name DESC`. So you change the order into
[code]
Basically you always keep the set of all three variables (and ideally also reflect those changes in page URL) and whenever the user clicks one of t

[2019-07-17 07:06] arjunsalyan commented on #39
Thank you so much for the explanation.

But one use I see of a multi-field sort is: I first click on `total desc`, and now for those ports with same number of total installations I want to sort them by `requested desc`- so I click on it (the priority still being `total desc`). The cycle you suggested will make `requested desc` as the priority as soon as I click on it.

Or I am missing something?

[2019-07-17 07:10] arjunsalyan commented on #39
Oh, but you can always click on it again. Thanks, it is clear now.

[2019-07-17 09:18] arjunsalyan commented on #35
I have enabled charts for `os_arch`.

For the other fix, I will start looking into how mpstats finds the required info.

[2019-07-17 09:21] arjunsalyan commented on #40
Thanks.

I have:
1. sorted the dependencies and dependents by port names
2. right aligned the dependency types.
3. moved `Dependency Of` below `Depends On`.

[2019-07-17 09:52] mojca commented on #40
Awesome, thank you very much.

Now, looking at [python27](http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/port/python27/?tab=summary) for example it probably makes sense to do the splitting by dependency type of "Dependency of" as well, to help maintainer decide which ports might need a revbump or testing after updating that particular port.

And if there are no dependencies maybe print s

[2019-07-17 13:09] arjunsalyan commented on #39
Please now see: [Port Installations](http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/statistics/ports/) . I have implemented the discussed sorting. Please net me know if I got your suggestion right.

Then I will move on to adding the page state to the url.

NOTE: Some browsers might not show colours immediately because of the cached files.

[2019-07-17 13:15] mojca commented on #39
Yes, it's precisely what I had in mind. It might make sense to ask others whether the interface is intuitive enough to them to use, but it does offer precisely all sorting options to users.

@mf2k had some feedback about other pages, so maybe he has something to say about this one as well?

[2019-07-17 16:39] mf2k commented on #40
Looking good! I think it makes sense to also sort the variants by name.

[2019-07-17 16:46] mf2k commented on #39
I do! :^)

Any column of numbers should be decimal point justified to make reading and comparing the numbers easier. Since they are counts, and thus integers, the numbers should be right aligned.

[2019-07-17 16:48] mf2k commented on #39
Also, in the [Ports tab](http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com), since we have a very large number of ports, I think having selectors by first letter of port name can be useful. So add a row with the letters of the alphabet. The selected results are the ports that start with that letter.

[code]

[2019-07-17 16:52] mf2k commented on #39
Some wording/capitalization consistency changes on the Ports tab page:

- Change `Search by Description` to `Search by description`

- Change `Browse By Categories` to `Browse by category`. It is singular because only one category can be clicked on.

[2019-07-17 16:56] mf2k commented on #39
On the [Statistics -> Top Ports tab](http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/statistics/), the numbers columns should be right justified.

I like the alternate row coloring for the `Total Installations` table, please add that to the `Requested Installations` table.

[2019-07-17 16:57] arjunsalyan commented on #39
Thank you. We have numbers at many places. I will be doing this for all.

[2019-07-17 16:57] arjunsalyan commented on #39
We actually had this before. But we decided to drop it some time ago. I could easily bring it back.

[2019-07-17 16:58] mf2k commented on #39
OK. Sorry I missed that conversation. If there was justification for leaving that out, then that is OK with me. Personally, I find such a selection method useful.

[2019-07-17 17:47] arjunsalyan commented on #40
Thank you, I have addressed both.

[2019-07-17 17:48] arjunsalyan commented on #40
Thanks, sorted the variants.

[2019-07-17 21:04] mf2k commented on #40
I was playing with shrinking and enlarging the window size to see how dynamically the pages cope with that. It shrinks pretty well, but it does not expand to fill, for example, a full screen window on my 24 inch monitor. Can you allow the column sizes to expand more?

In particular, with python27 as an example, there are *lots* of ports (like py27-*) that depend on it that are listed. Yet even wit

[2019-07-18 11:58] mojca commented on #39
This can of course be an endless discussion, but I find both browse-by-category as well as browse-by-first-letter of very limited usability.

My favourite way would be to have a very decent search / filter functionality. Browsing all ports starting by letter P is pretty useless on its own. We are already able to search by port description or part of port name. We could probably support entering `^

[2019-07-18 17:24] pmetzger opened #41 "README.md does not describe what the code does"
The top level README.md explains how to run the webapp but not what it is. A few paragraphs of explanation at the beginning would be in order.

[2019-07-18 19:22] #41 closed, assigned to arjunsalyan

[2019-07-19 16:47] arjunsalyan commented on #40
The header of the website expands to the entire width of the viewport, rest of the site (contents) are wrapped inside bootstrap's `container` class which has a max-width of 1200px. I feel, this is a standard size for websites that do not expand to the entire width, for example the contents of GitHub itself.

However, we may decide if we want to go for a full-width design.

[2019-07-19 18:47] arjunsalyan commented on #30
Instead of changing the format of `PortIndex.json`, we are now using dictionaries internally in the app to speed up the lookup process.

[2019-07-20 06:11] umeshksingla commented on #30
Since there are a lot of changes in other PRs open at the moment, I'd request you to add a link to the changes you mentioned here.

[2019-07-20 07:24] umeshksingla opened #44 "Format of the License field"
Not a super important issue but the license field can be improved sometime in the future to have a consistent format and without braces on the ends.
1. https://ports.macports.org/port/automake
2. https://ports.macports.org/port/aqbanking5

[2019-07-20 19:39] arjunsalyan commented on #30
655922c36b97f3a0c743c53f8abc10b98042cf47

If this looks fine, I can reword this commit, to refer and close this issue.

Relevant conversation from zulip: https://macports-gsoc.zulipchat.com/#narrow/stream/201680-gsoc19-webapp/topic/General/near/170870778

[2019-07-20 20:57] mojca commented on #30
I would say that since we decided not to implement this, we should simply close the ticket.

[2019-07-20 20:57] #30 closed, assigned to nobody

[2019-07-20 21:09] mojca commented on #44
However I would like to ask the experts for some hints first. I believe there is an actual difference when braces are used. In some cases it may mean "either one licence or the other", in others it may mean "both licences apply".

[2019-07-20 22:19] mojca commented on #35
Since the change was so trivial, I submitted a PR, so that you can implement the change in the graph faster :)

A less trivial (but also not that difficult, and much lower priority anyway) piece of information to extract would be:
* the default compiler on OS and the default compiler used for MacPorts
* a boolean values telling you whether default prefix is being used (I believe that one is stored

[2019-07-21 04:29] jmroot commented on #44
https://github.com/macports/macports-base/blob/master/src/port/port.tcl#L2186

So `MIT {PSF ZPL} {Apache-2 BSD}` is displayed in more human-readable form as `MIT and (PSF or ZPL) and (Apache-2 or BSD)`.

[2019-07-21 07:27] mojca commented on #44
@jmroot: thank you. I never noticed that it's formatted in this way when you use `port info`.

I have two questions though:
* How could we use this function directly to change what gets written to `portindex.tcl`? (I assume we can copy-paste the code, but it would be nicer to have just one reusable function called multiple times.)
* Why the following discrepancy?
[code]

[code]

My suggestion woul

[2019-07-21 07:52] jmroot commented on #44
We need it to be machine-readable in the PortIndex.

[2019-07-21 08:00] mojca commented on #44
Sorry, I meant `PortIndex.json`, rather than `PortIndex` itself. (I made a typo in the file extension.)
Proper machine-readability in the scope of `json` would likely mean encoding that information in `json` constructs, but that would likely be an overkill. In itself (when forgetting `tcl`) the format with parenthesis and using `and`/`or` is probably equally machine-readable if one would want to d

[2019-07-21 08:05] mojca commented on #35
Somewhat related to this, so I'm temporarily misusing the same ticket.

@satraul: After your project is finished & we start promoting that it might be ok not to install Xcode, I expect more users to install just command-line tools. In those cases `xcode_version` will likely return `none`, yet we could still submit the version of command-line tools. Would you be willing to look into ways to report

[2019-07-21 08:17] arjunsalyan commented on #35
Thank you very much.

I will have to read more about it.

We can simply check if it is "/opt/local/", right?

I remember that we wanted to check if the default variant of the port was installed. Does this help in that by some sort of matching? I am sorry, I don't have much idea about how variants work.

[2019-07-21 19:49] mojca opened #46 "Remove literate copy of portindex2json from repository"
If you need it, either clone it, or use a subrepo, we should avoid literate copies of non-trivial chunks of code.

[2019-07-25 20:56] #46 closed, assigned to nobody

[2019-07-27 19:55] rajgoesout commented on #12
@arjunsalyan Could you please tell me how to test this? (how did you check what response was sent)

[2019-07-27 21:57] mojca opened #47 "Improve landing page"
Some pages are really nice by now, but the landing page is not really eye-catching.

I suggest we use some brainstorming about what to put on the first page that each user sees.
It would definitely make sense to put some basic description / about, some links etc. (but it also depends how the site would be integrated with the rest).

[2019-07-27 22:18] mojca commented on #35
To clarify as we discussed in the morning, here's how I would suggest to change the existing table:

![image](https://user-images.githubusercontent.com/15606/61999960-c071a100-b0cc-11e9-95f5-78742c303971.png)

[code]

[2019-07-27 23:02] mojca opened #48 "Used stacked charts for port version vs. time"
Here are my screenshots with an example of how we could present the versions of various ports through time:
![image](https://user-images.githubusercontent.com/15606/62000267-ed28b700-b0d2-11e9-9c85-5308011599e2.png)

Source:
[code]

For reference, here's how a similar graph for gettext looks on the old page:
![image](https://user-images.githubusercontent.com/15606/62000372-a5eff580-b0d5-11e9-94da-

[2019-07-28 05:19] lemzwerg opened #49 "list ports by name ranges"
Looking at

http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/ports/category/textproc

I see that there are 1285 ports in this category.

![textproc-ports](https://user-images.githubusercontent.com/1630245/62002587-6f32d300-b107-11e9-9cdc-b3313115ace4.png)

For example, page 1 shows package 'a2ps-j' to 'cmph', page 2 gives 'coccinelle' to 'html-xml-utils'.  It would be great if this informa

[2019-07-28 06:58] mojca commented on #49
A similar request recently came from @mf2k (https://github.com/macports/macports-webapp/issues/39#issuecomment-512362602).

My question is: how would you handle cases of pagination looking like
[code]
and still show a reasonable number of pages?

[2019-07-28 07:05] umeshksingla commented on #47
One idea could be to add a link to webapp Github repository for anyone who wants to contribute. Something like `Fork me on Github` ribbon on the top right.

[2019-07-28 07:15] mojca commented on #47
Just not saying "Fork me" :)
I agree it could make sense to have a pointer to a document explaining how to contribute and having further pointers to developer documentation. The app could simply link to that (markdown?) document on GitHub, and the potential developers would already end up "on the right page" if they want to clone, fork, submit PRs etc.

[2019-07-28 07:17] mojca commented on #49
My response has been that if one knows what letter the port starts with, we should probably implement better filtering and allow entering `^c` as port name, which would then show all ports starting with the letter `c`, or `^co` to show all ports starting with `co`.

The only way I see the pagination work to some extent would be to show the port name after pointing the mouse to page number, but in

[2019-07-28 09:07] lemzwerg commented on #49
Well, long names would be abbreviated:
[code]
If there are so much packages in a category it would actually not be necessary to show ranges at all:
[code]
What I have in mind would be a rather rough guide to help navigation and nothing too detailed.

And no, I can't give an URL of a site that has something like that.

Your idea of filtering is nice, but it is heading into different direction.

[2019-07-28 12:06] neverpanic opened #50 ""Trac Tickets" view lists unrelated ports"
The list of trac tickets for a port uses substring matching, not word matching to find ports. This leads an incorrect list of tickets for ports whose name is a substring of a different port.

This does happen, for example, for the `tig` port, because `tig` is a substring of `tigervnc` and `antigen`: http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/port/tig/?tab=tickets.

[2019-07-28 12:29] arjunsalyan commented on #50
Thank you very much. I just noticed that we are using the following URL to fetch:
[code]
This probably needs to be changed to:
[code]

[2019-07-28 12:51] raimue commented on #50
[TracQuery](https://trac.macports.org/wiki/TracQuery) is simply not able to express such a specific match. It only has the "contains" operator, which is a substring match. Your proposal would be an exact match only and miss tickets that list more than one port.

You could use this report which uses the Postgres `~*` operator directly against the database with [this SQL query](https://trac.macports

[2019-07-28 15:21] dmitriz opened #51 "Feedback on the current version"
Here is my user feedback on the web app version located at http://ec2-52-34-234-111.us-west-2.compute.amazonaws.co
as requested by @mojca on the MacPorts mailing list.

# Disclaimer.
I am an old Mac OSX user but am very new to MacPorts. I have been using Homebrew for many years. However, running OSX 10.8.5 that is old by now, I began facing increasing number of broken installations with Homebrew,

[2019-07-28 17:52] arjunsalyan commented on #50
Thank you very much. I tried the following regex:

https://trac.macports.org/report/16?max=100&PORT=(^|\s)vim($|\s)

It mostly seems to match words. Could you please share your views on the use of this one?

[2019-07-28 18:38] mojca commented on #50
This would definitely be extremely helpful.

For example, I would love it if entering port name into https://trac.macports.org/wiki/Tickets would result in correct results.

Both queries (exact match and partial match) do have their value. I sometimes search for "perl5" for example, and it's useful to see results for all perl versions. But most of the time I really want just exact matches.

Cool.

[2019-07-28 19:26] jmroot commented on #35
Is there a bug somewhere or does some user really have their cxx_stdlib set to `libc`? Seen on e.g. http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/port/bzip2/?tab=stats&days=30&days_ago=0

[2019-07-28 19:28] arjunsalyan commented on #35
Thank you. This is a known bug. The `+` character is getting stripped in submissions.

[2019-07-28 19:32] jmroot commented on #18
There's some formatting weirdness sometimes, for example: http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/maintainer/github/jmroot/

That displays py*-gdbm in the same box as py*-game as though they were subports. Likely something is going wrong because py-gdbm does not have the same maintainer and so is not listed.

[2019-07-28 19:33] arjunsalyan commented on #51
Thank you very much for this detailed feedback. It is very helpful. I will keep updating and discussing here as I work on individual suggestions.

[2019-07-28 19:36] jmroot opened #52 "Searching within a maintainer's ports doesn't work"
For example, typing `py-` in the search box on http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/maintainer/github/jmroot/ gives an error.

[2019-07-28 21:05] arjunsalyan commented on #52
Thank you very much. It should work now. In safari you might need to clear website data to quickly view the changes.

[2019-07-28 21:08] arjunsalyan commented on #18
Thank you. This was happening when the parent port of the subports was not maintained by the same maintainer, as you suggested. It has been fixed now.

[2019-07-28 21:21] jmroot commented on #52
Thanks, confirming that it works now.

[2019-07-28 21:21] #52 closed, assigned to arjunsalyan

[2019-07-28 23:31] mojca commented on #51
Amazing, thank you very much for the very detailed feedback.

Didn't they completely remove support from HB 2.0 earlier this year?
In any case support for pre-10.9 systems could be improved further if you switch to `libc++`. At the moment you don't get any binaries.

I would be slightly more in favour of de-capitalizing things. Maybe start with uppercase, but then continue with lowercase. That sai

[2019-07-29 00:02] satraul commented on #35
Hi, I've opened a pull request here report CLT version: https://github.com/macports/macports-ports/pull/4907

Note that it supports all CLT versions, including macOS <= 10.8 where we actually prefer Xcode's over CLT

[2019-07-29 00:32] mojca commented on #35
And it has already been fixed. Thanks a lot.

[2019-07-29 01:25] yan12125 opened #53 "Improve display of installed variants"
Homebrew collects the number of installations with various options. For example, in https://formulae.brew.sh/formula/wget, there are `wget`, `wget --HEAD`, `wget --with-debug` and so on. Seems there is nothing similar in https://frozen-falls-98471.herokuapp.com/port/wget/?

Homebrew developers use such statistics to determine what kind of options should be the default. I believe port maintainers c

[2019-07-29 01:41] jmroot commented on #53
Variant information is already collected, it just needs to be displayed.

[2019-07-29 12:10] yan12125 commented on #53
Great to know that!

[2019-07-29 13:58] raimue commented on #50
Is there any problem with `\m` or why did you use `(^|\s)` instead?

No, unfortunately this report won't help with a TicketQuery and there is no solution to that. It is a [long-standing limitation](https://trac.edgewall.org/ticket/7558) in the Trac query language.

[2019-07-29 19:57] arjunsalyan commented on #50
`(^|\s)` worked for matching a complete word.

I thought we could solve the problem if we match complete word (port-name)

[2019-07-29 20:15] #37 closed, assigned to arjunsalyan

[2019-07-29 20:15] #35 closed, assigned to arjunsalyan

[2019-07-29 21:12] #39 closed, assigned to arjunsalyan

[2019-07-30 07:22] dmitriz commented on #51
You are welcome, happy to help.

No idea, it doesn't even tell me its version:

[code]
Not exactly the most helpful message of my life :)

Thank you for this advice, [I had actually stumbled on the C11 support issue](https://github.com/datproject/dat/issues/1110) that brought me here:
https://trac.macports.org/wiki/LibcxxOnOlderSystems
and here:
https://trac.macports.org/ticket/55926
and here:
htt

[2019-07-30 18:46] arjunsalyan commented on #53
Thank you. Variants shall be soon added.

https://frozen-falls-98471.herokuapp.com/port/wget/ is now outdated. The latest version runs on ec2 now:

http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com

[2019-07-31 08:23] raimue commented on #50
It would help if you could give examples to show where the proposed regex did not work as expected...

However, I figured it out now that `\m` will also match `.` or `_` as word boundaries and that is not what we want, as these are allowed characters in a port name. Therefore the regex you proposed works better.

[2019-07-31 14:56] yan12125 commented on #53
Thanks for clarification! Mind to update the link for this GitHub repository?

![圖片](https://user-images.githubusercontent.com/1937689/62222743-721f1380-b3e6-11e9-821c-564d147f7533.png)

[2019-07-31 15:04] mojca commented on #53
Done, thanks. In any case we hope to be able to deploy it soon.

[2019-08-02 13:21] arjunsalyan commented on #48
![Screenshot 2019-08-02 at 6 50 00 PM](https://user-images.githubusercontent.com/40331563/62372944-5a669d00-b556-11e9-9f35-1bcf8ee8133c.png)

Here is how the charts looks for ImageMagick. I have even deployed the changes, so it can be seen running here: http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/port/ImageMagick/?tab=stats&days=30&days_ago=0

I have mixed feelings about this chart, s

[2019-08-02 14:52] mojca commented on #48
When you add zeros it looks better
![image](https://user-images.githubusercontent.com/15606/62378814-ee7c3880-b545-11e9-844d-eb8e8083081d.png)

[2019-08-03 07:35] umeshksingla opened #63 "Broken maintainer's page when invalid maintainer handle"
We need to rethink a little around the maintainer's page. I was of the opinion that when clicked on a maintainer's name in the port-summary page, it'll simply go to another page but instead, it tries to load the content over it. (Browser's backward and forward buttons don't work with the maintainer's page, to verify). We really don't need any in-place modification of content like this.

Also, pass

[2019-08-03 07:49] umeshksingla commented on #63
Another issue which could be related to above is that the maintainer name is not available when you search by a string:

<img width="1205" alt="Screen Shot 2019-08-03 at 1 17 08 PM" src="https://user-images.githubusercontent.com/9131544/62409169-1379b580-b5f1-11e9-8d4e-18f5dc2e27e9.png">

With random search string:

<img width="1159" alt="Screen Shot 2019-08-03 at 1 17 20 PM" src="https://user-ima

[2019-08-03 09:18] rdbisme opened #65 "Small UX inconsistency for the radio buttons"
![Screenshot 2019-08-03 at 11 16 58](https://user-images.githubusercontent.com/8077364/62410020-41a2c980-b5e0-11e9-90f2-bca7b5009b65.png)
Maybe add a bit of padding between the radio button and the text `Search by port-name` and `Search by description`?

[2019-08-03 18:19] umeshksingla commented on #63
Sorry, I forgot to press the send button in the morning.

The problem is probably with this part in `views.py`:
[code]
From ajax-maintainers.js:
[code]
where `$().text()` submits empty string (`""`), so it's never `None`. But please check if it is indeed the case.

[2019-08-04 19:46] arjunsalyan commented on #65
Thank you.

[2019-08-05 17:35] #48 closed, assigned to arjunsalyan

[2019-08-05 19:12] arjunsalyan commented on #63
I have tried to address some issues.

http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/maintainer/github/ryandesign/

[2019-08-06 19:14] #63 closed, assigned to nobody

[2019-08-08 15:26] neverpanic opened #75 "UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead."
I currently get an email for every cronjob run because the cronjobs generate output on stderr. The output is:

[code]

From the linked documentation, it seems we should change the entry for `psycopg2` entry in requirements.txt to `psycopg2>=2.7,<2.8 --no-binary psycopg2`.

[2019-08-08 15:29] neverpanic opened #76 "Fetching build history should handle HTTP errors gracefully"
One of the last cronjob runs generated the stack trace included below. The cronjob should gracefully handle HTTP errors rather than aborting.

[code]

[2019-08-08 15:47] arjunsalyan commented on #75
Doing this change does hide the warning.

[2019-08-09 17:47] arjunsalyan opened #79 "Versions vs Month Chart: When a user upgrades to a newer version of a port, they are being counted as using both versions in that month"
This is a known issue which seems to be out of the capacity of Django's ORM.

#### The Problem:
Versions vs Month chart ([example](https://ports.macports.org/port/mpstats/?tab=stats&days=30&days_ago=0)) is expected to show the count of users using each version of the port vs the month. When a user upgrades the port, say from version 1.1 to 1.2, in the same month, we want him to be counted only for

[2019-08-09 17:52] #40 closed, assigned to arjunsalyan

[2019-08-09 17:53] #4 closed, assigned to nobody

[2019-08-09 17:53] #18 closed, assigned to nobody

[2019-08-09 17:54] #27 closed, assigned to nobody

[2019-08-09 23:05] mojca commented on #51
I would say that thes explanations and testimonials would be really beneficial, but they belongs to the main page, not necessarily to the "here's statistics" page, but just to answer some of your questions (sorry, this is all so long, so it takes time to digest everything and respond).

This is mostly true, and would definitely require explanation.
Some of those cases are done on purpose and fully

[2019-08-10 03:15] dmitriz commented on #51
On Saturday, August 10, 2019, Mojca Miklavec <notifications@github.com>
wrote:

Yes, certainly to the main page, truncated whenever if takes too much space.

Not breaking things might be a very compelling justification :)

The "untruth" in this testimonial is subtle. It mentions superficials while
omits much serious and valid reasons behind. I'd give away .0001% of my
drive to a second copy any da

[2019-08-11 21:03] #75 closed, assigned to mojca, arjunsalyan

[2019-08-14 06:18] #50 closed, assigned to nobody

[2019-08-15 14:03] mojca commented on #47
See also https://github.com/constantin-p/macports-site/issues/1

[2019-08-15 14:47] jdberry opened #85 "Please display Categories in column-major order"
The web app is looking good!

One suggestion: It would be helpful if you displayed the Category list in column-major order: it's difficult to scan it as it is in row-major order.

Thx!

[2019-08-15 14:54] jdberry opened #86 "Incomplete search?"
When I search for the port "tag" in all categories (by entering the string "tag" at https://ports.macports.org), the "tag" port is not shown in the results. When I enter the same search-string after clicking in the sysutils category, then the tag port is displayed. Strange. I would expect the tag port to be found in the broader search.

[2019-08-15 14:56] mojca commented on #85
I agree with this sentiment, and it should be straightforward to fix.

(That said, I'm not sure if browsing by category is really that useful.)

What I would like to see on the site if it remains is the count of (active?) ports belonging to that category. A single sql query should be sufficient to get the full table `(category_name, port_count)`.

The list could look like this:
[code]

[2019-08-15 14:57] mojca commented on #85
And `Installations this month = NA` on the link that follows is also strange.

[2019-08-15 15:09] mojca commented on #86
What I suspect happens is that the search only displays the first N hits in some semi-random order. It doesn't explicitly attempt to check or display the exact hit first, so I assume it just gets (not) listed somewhere beyond the first 50(?) results.

Another problem I discovered with the search is that I can type a longer word, but the last letter I type is not always used or removed (somewhat de

[2019-08-15 15:17] jdberry commented on #86
Yeah, that's my guess too. Random order isn't very useful. Probably all results should be displayed, perhaps paged, in alphabetical order by port name. There might be an argument that any exact matches, or perhaps all prefix-matches, should be sorted out and displayed first, alphabetically. That would be a more complicated, though not too difficult, query.

[2019-08-15 15:39] jdberry opened #87 "Please don't center long_description text"
The long_description text is displayed centered under the category/portname. Centering of the port name is good, I think, but centering the long_description makes that difficult to read. I believe it would look better if the long_description text was left justified. Paragraph text that is centered is difficult to read.

[2019-08-15 15:48] jdberry opened #88 "Inconsistencies in Port summary field labels"
The field labels in the summary tab are inconsistent:

- Most are followed by colons, but "Homepage" is not.
- Most split words, but "ClosedMaintainer" is camel case. "Homepage" could be spelled with or without the space, so that's probably ok as-is.
- Title Case: probably ok as-is. The "Closed Maintainer" is all capitalized while "Maintained by" doesn't capitalize the "by". That's proper for Titl

[2019-08-15 15:52] jdberry commented on #88
Another question: I suppose there was a conscious choice put into calling it "closed maintainer" vs "open maintainer". Does "closed maintainer" actually have any more meaning to people than "open maintainer", and is that meaning worth the potential confusion of negating the term we normally use and introducing a new, perhaps equally mystifying term?

full disclosure: I take full blame for coming u

[2019-08-15 17:42] #85 closed, assigned to arjunsalyan

[2019-08-15 17:45] #76 closed, assigned to mojca, arjunsalyan

[2019-08-15 18:54] arjunsalyan commented on #29
We are no longer testing with multiple Django versions, but just with the fixed version from requirements.txt. So I guess this issue is not relevant now.

[2019-08-15 18:54] #29 closed, assigned to nobody

[2019-08-15 19:48] arjunsalyan commented on #85
Thank you, these changes are now live at: http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com

You may need to clear website data or do hard refresh, as it involves changes to CSS. Please let me know any other improvements.

These will soon get deployed to ports.macports.org (the update cycle is 5 hours I guess).

[2019-08-15 21:28] mojca commented on #88
This one is easy to fix, but maybe we can invite you to submit your first pull request and help us improve the site (more importantly: learn how to help in the future)?

It should be as easy as [editing](https://github.com/macports/macports-webapp/edit/master/app/ports/templates/ports/port-detail/summary.html) the following line: https://github.com/macports/macports-webapp/blob/1af5000856b800c02c4

[2019-08-15 21:42] mojca commented on #88
PS: I'm sorry. I didn't initially notice that you were here way before I was and that you were the one who originally tried to write this long-expected app, as well as
https://trac.macports.org/wiki/SummerOfCodeArchive#a2008
I haven't seen that original name appear for ages and I thought that the original author (i.e. you) had long disappeared from MacPorts, so I simply didn't associate your githu

[2019-08-15 22:08] mojca commented on #85
Thank you.

[2019-08-15 22:50] mojca commented on #25
@neverpanic: what do you suggest?

It looks like two somewhat orthogonal goals. One would be the ability to run unit tests against the latest version of everything and quickly figure out if something is broken with newer version(s) of dependencies. The other one is having a reproducible docker image.

So I'm not sure on which of the sides I stand at the moment, or rather how to quickly achieve bot

[2019-08-15 23:02] jdberry commented on #88
np! I've been pretty out of macports for a while... I just stick my head in every now and again...

[2019-08-15 23:22] jdberry commented on #85
Thx, @arjunsalyan. That looks a lot better!

[2019-08-16 03:41] yan12125 commented on #53
Thanks for the update! Here are some ideas:

![圖片](https://user-images.githubusercontent.com/1937689/63141856-e9c18500-c019-11e9-9f89-777b764a0b28.png)
(from https://ports.macports.org/port/wget/?tab=stats&days=30&days_ago=0)

* Does the first row indicate wget without any variants? If so, it might be better to write something like "(no variants)" in the first row.
* `+gnutls`, `+ssl` might be bet

[2019-08-16 07:10] mojca commented on #53
I agree with both and also wrote both down to the [long document with minor pending issues](https://docs.google.com/document/d/1TqNHm3NrtLDelWqY7P4pZyTMZDJrlsPymFZklzV2t24/edit#heading=h.5ust9cmqybh1).

Yes, the trailing `+` should go.

Quoting myself on the other point:

The empty field doesn't necessarily mean "no variants", but mostly "no data", for the following reasons:
* we didn't have the r

[2019-08-16 11:20] neverpanic commented on #25
Isn't there a bot which could automatically open PRs updating the packages to the latest versions, say, once a week? Then we run the tests, if everything is fine, we merge and it gets deployed.

[2019-08-16 13:11] mojca commented on #25
OK, well, I guess that's good enough.
I've seen the bot submit the PR #71, so I assume you set it up already?
I did not change major versions, only minor ones, but well ...

[2019-08-16 13:12] #25 closed, assigned to nobody

[2019-08-16 14:49] yan12125 commented on #53
Thanks for clarification! By the way, the document for pending issues is awesome.

[2019-08-16 15:58] #65 closed, assigned to nobody

[2019-08-17 18:10] #87 closed, assigned to nobody

[2019-08-17 18:10] #88 closed, assigned to nobody

[2019-08-20 21:23] pmetzger opened #99 "Allow users to view more than 100 ports per page"
Right now, when more than 100 ports come up from a query, one gets the results divided into multiple pages. It should be possible for a user to see far more on a page if they feel like it. The display is quite compact, and I'd prefer (at times) seeing several hundred at once so I can search within the page more efficiently with command-f.

[2019-08-25 13:52] pmetzger opened #104 "Change "(nobody)" to "(No Maintainer)""
Right now "Maintained By:" fields say "(nobody)" if there's no maintainer. This feels a bit depressing to see. I think it would be better if it said "(No Maintainer)"; it seems psychologically better.

[2019-08-27 12:13] cjones051073 opened #105 "Search page reacts too quickly to text input"
when searching for a port on

https://ports.macports.org/

The page currently reacts instantaneously to each character typed into the search box. This means, if the user is entering a long port name, the page constantly 'flickers' on each character, which is quite distracting.

I would suggest putting a short delay in so the page does no react immediately to text input. A pause of only a fraction

[2019-08-27 12:16] cjones051073 commented on #105
Alternatively, the search should only be performed when the user hits 'return'.

[2019-08-27 18:27] pmetzger commented on #105
Generally, the right thing here is to delay a few ms to see if another character gets typed, and only do something once nothing has been typed for a little bit.

[2019-08-27 18:43] cjones051073 commented on #105
Yeah, thats exactly what I am proposing.

[2019-08-28 20:12] neverpanic commented on #105
And while we're at it, maybe we can also move the keyboard focus into the search bar on page load, so people can immediately start typing?

[2019-08-29 17:03] arjunsalyan commented on #105
Thank you.
I have done the changes: https://github.com/macports/macports-webapp/pull/107

These have also been deployed here: http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com

You might need to hard refresh or clear website data to see the changes.
The search triggers when a user does not press any key for 1000ms.

[2019-08-29 21:27] pmetzger commented on #105
BTW, I note that ports.ocaml.org and the test site seem to not notice that a bunch of ports have been removed? Is that expected?

[2019-08-29 21:32] arjunsalyan commented on #105
The website knows which ports have been removed by making the field `active=False` in the database. However, the PR to display a message on the port page that the port has been deleted is not merged yet.

We do not remove a deleted port from our database unless a new port by the same name replaces it, and simply show a message that this port has been deleted.

[2019-08-29 21:35] pmetzger commented on #105
This seems like an odd choice; it would mean that (for example) there would be huge numbers of "ghost" ports that you would hit while searching, clogging up what you are trying to look for. (The overwhelming bulk of OCaml ports are gone, for example. Finding the ones that are actually there is now hard.) Maybe showing deleted ports could be an option instead of the default?

[2019-09-04 21:31] #105 closed, assigned to nobody

[2019-09-05 08:58] cjones051073 commented on #105
When will this be push out to the main production server, https://ports.macports.org ? That page still has the issue.

[2019-09-05 09:08] mojca commented on #105
It seems to work as intended for me.
The updates run every N hours (I should check what N is exactly).

The footer prints the info about when port information / builds / statistics was last changed, but now when the app itself was last updated.

[2019-09-05 09:12] mojca opened #108 "Can we store link to commit which deleted a port?"
When someone is looking for a particular (deleted) port, there might be a great chance that this person actually wants to install the port that everyone else thought was useless, or at least broken beyond repair. Maybe that person is even wiling to look into fixing the old `Portfile`.

What we are missing in MacPorts is precisely the way to easily find old deleted ports, and to find reasons why th

[2019-09-05 13:18] neverpanic commented on #105
N=5

[2019-09-05 14:24] arjunsalyan commented on #105
This commit has been deployed to production. The changes were mostly on the JavaScript end, so unless your browser refreshes the website data (or you manually do a hard refresh) the changes will not be visible.

[2019-09-05 14:28] arjunsalyan commented on #108
Adding more comments related to deleted ports, I can create a new issue if this is the not the right place.

1. Shall we show deleted ports in the search results by default?
2. Shall we count them while counting ports under a category, maintainer, variant etc. ?

[2019-09-05 20:48] pmetzger opened #110 "Don't display deleted ports unless the user asks you to"
Most of the time, if I'm searching MacPorts I'm looking for information about ports that are currently in the tree. It is relatively rare that I want to see data on deleted ports. So, I'd like to ask that unless the user checks a box or otherwise indicates they want to see deleted ports as well, that the deleted ports not be shown.

[2019-09-07 11:34] arjunsalyan commented on #110
Thank you, I wrote a comment relating to this in #108 .

@mojca

[2019-09-07 20:21] pmetzger commented on #108
I'd suggest making it easy to find deleted ports, but not showing them by default. Maybe a checkbox.

[2019-09-08 01:33] mojca commented on #108
I would say that the answer to both questions should be "NO".

While deleted ports still exist in the database, they should not in reality belong to any particular category, maintainer or variant (no need to remove that data from the database, but I would not show deleted ports when searching for ports belonging to a particular maintainer).

That said, we could have a completely separate search fo

[2019-09-18 11:31] cjones051073 opened #112 "Strange x axis sorting for installed port versions chart"
Sorting of the port versions in the chart showing the installed versions appears to be done in decreasing order of frequency, so the version with the most stats on the left, least on the right. In my opinion this is a strange inconvenient scheme. It would be better to sort accordingly to the version itself, so oldest in the left, newest in the right.

See attached screen shot taken from

https://p

[2019-09-19 11:02] umeshksingla opened #113 "Fix the behaviour of the back button after clicking a port from search results"
At the moment, if you click a port as a result from a search and try to go back, you need to search again.

~~It is easy to command-click a link and it opens in a new tab but since most of the search engines provide a way to go back and access the previously returned results, I think that would be nice to have.~~

(Note: Edited by @mojca to change the request to open search results in a new window

[2019-09-20 21:23] neverpanic commented on #113
Ugh, please no. I hate it when websites think they need to make the decision whether I want to open something in a new tab for me. I am perfectly capable of making this decision myself.

Instead, we could update the search functionality to include the search term in the history. Modern JavaScript is able to do that, which would make the back button behave as you'd expect it to.

[2019-09-20 22:41] mojca commented on #113
I agree with Clemens on this.

[2019-09-21 08:37] l2dy opened #114 "Proposal: drop dependency on Google Charts"
https://github.com/macports/macports-webapp/blob/b753285bca2771cb8bb873e0030345df3defeab8/app/ports/templates/ports/portdetail.html#L9

As stated in the [Google Charts FAQ](https://developers.google.com/chart/interactive/faq), their ToS disallows "offline" usage. Which has the following effects:
1. This website has a hard dependency on Google, and must adapt if they made backwards incompatible cha

[2019-09-21 08:50] mojca commented on #114
It's a pitty that this wasn't brought to attention slightly earlier as we could use a different api from the start.

I assume you saw it blocked yourself?

Which graphing tool would you suggest to use. There are plenty easy to use libraries around, I don't have much experience with either.

[2019-09-21 08:57] l2dy commented on #114
[D3](https://github.com/d3/d3) is a very powerful JavaScript library for visualizing data. We could use a charting library based on it, e.g. [c3](https://github.com/c3js/c3) or [plotly.js](https://github.com/plotly/plotly.js).

[2019-09-21 08:58] umeshksingla commented on #114
[HIghCharts](https://www.highcharts.com/) is an excellent alternative, I'd like if you can take a look at its [Non-Commercial FAQ](https://shop.highsoft.com/faq#Non-Commercial-0) because I did not get it fully. It allows [downloading the scripts](https://www.highcharts.com/blog/download/) for offline usage.

[2019-09-21 08:59] umeshksingla commented on #114
Yes, this. I have definitely heard about it a lot but have no experience with it.

[2019-09-21 09:03] l2dy commented on #114
"The license allows for up to 5 developers to work on our software."

Nope, don't use this.

---

TBH, I prefer depending on open source software only. And slightly OT, we should add a LICENSE file to this repository.

[2019-09-21 11:04] mojca commented on #114
Oh, thanks for pointing this out.
@arjunsalyan, @umeshksingla: would any of you object the MIT licence?

[2019-09-21 11:16] arjunsalyan commented on #114
I don't have enough knowledge about these to speak anything, I will go by your decision.

[2019-09-21 11:16] arjunsalyan commented on #114
Thank you, I will check both and try to switch as soon as I can.

[2019-09-21 21:44] arjunsalyan commented on #112
Thank you for reporting this. Somehow, the sorting on x-axis was being done by the number of installations.

[2019-09-23 11:24] #112 closed, assigned to nobody

[2019-09-23 16:50] arjunsalyan commented on #113
The back button behaviour seems to be inconsistent across browsers, on Safari I do get the search results back but Chrome needs me to search again.

In all, searching needs some big improvements, I am on it.

[2019-09-24 05:39] mojca opened #117 "Incorporate the new builders"
According to @ryandesign the old builders will stay offline for a while in order to be able to access the logs, while the new builders (dropping the `_legacy` suffix) will soon get online, building binaries against the `libc++` library, so we will never get two builders running in parallel.

For that reason I expect the port health to show just a single entry per OS, showing the latest build on ei

[2019-09-24 06:00] jmroot commented on #117
They've been on for a few hours FYI.

[2019-09-24 17:28] arjunsalyan commented on #117
We can add a new column `os_id` to the `Builder` table:

| pk | name | os_id |
----|------|------|
1 | 10.6_x86_64 | 1 |
2 | 10.6_x86_64_legacy | 1 |
3 | 10.6_i386_legacy | 2 |
4 | 10.6_i386 | 2 |

And the `BuildHistory` table could remain same:

| builder_name | build_id | status | port_name | time_start | ... |
|----|----|----|----|---|----|
1 | 3456 | build successful | portA | 2019-09-20 19:03

[2019-09-24 17:40] mojca commented on #117
I suggested something different, but your proposal is better. Potentially call it `os_arch_id` to make it more explicit that it's not just about OS version (even though I'm not 100% sure about that). We also need to store somewhere the name to be displayed (`10.15`, `10.14`, ..., `10.6`, `10.6/i386`, `10.5/ppc`; doesn't matter what character is used as a separator, underscore is fine as well).

[2019-09-24 17:42] mojca commented on #117
Should the newly set up builders usually be automatically picked up?
(I don't see anything for the new builders being picked up yet.)

[2019-09-24 17:46] arjunsalyan commented on #117
No, the app won't pick up new builders. This functionality wasn't built, and I also don't think we have a source from where we can get such information (not sure though).

[2019-09-24 18:00] mojca commented on #117
How did you do the first run populating the builders?

In principle you could get the info from API like https://build.macports.org/json/builders?as_text=1 (which would change and become more intuitive with buildbot 2). I didn't find a way to further reduce the amount of data received.

(Then again, we could just as well hardcode the few builders that we have.)

[2019-09-24 19:29] arjunsalyan commented on #117
Even the `os_arch_id` might require some hardcoding. Or do we generate it using some pattern?

[2019-09-24 19:56] neverpanic commented on #113
Just to clarify, I'm talking about https://developer.mozilla.org/en-US/docs/Web/API/History_API/Working_with_the_History_API. We should probably use replaceState() to put the entered search term into the history (e.g. a query parameter in the URL) so that clicking back does always preserve the search term.

[2019-09-25 15:40] pmetzger commented on #110
Hi, just curious if this can be acted on? I'm finding it much harder working with (for example) the ocaml part of the tree where I got rid of a lot of obsolete ports because I can't filter the deleted ones out...

[2019-09-25 16:00] arjunsalyan commented on #110
I am working on it, there was a bug that prevented the deleted ports from getting detected, it just got fixed yesterday.
I will add the functionality to filter out deleted ports by this weekend.

[2019-09-25 20:23] pmetzger commented on #110
Thank you so much, @arjunsalyan!

[2019-09-27 00:57] cjones051073 opened #123 "Incorrect ‘most installed version’ is reported."
Each port seems to give ‘user(s)’ as the most installed version.... see e.g.

https://ports.macports.org/port/clang-8.0/stats?days=30&days_ago=0

[2019-09-27 01:00] cjones051073 commented on #112
When will this fix hit the main deployment btw ? I still see the issue at e.g.

https://ports.macports.org/port/clang-8.0/stats?days=30&days_ago=0

[2019-09-27 05:41] mojca commented on #123
Like this:
![image](https://user-images.githubusercontent.com/15606/65744815-de25ab80-e0f9-11e9-84bd-9c44548aa296.png)

Maybe we should create a function to return this data for a given port, and also create unit tests for it. Just as a thought.

(@arjunsalyan: we need anchors to be able to reference individual graphs. It took me a while to notice what this was referencing as I was only staring at

[2019-09-27 17:45] neverpanic opened #124 "Cron fails with djano.core.exceptions.ValidationError"
[code]

[2019-09-27 21:22] #123 closed, assigned to nobody

[2019-09-27 21:26] arjunsalyan commented on #124
It is probably this build: https://build.macports.org/builders/ports-10.12_x86_64-builder/builds/99639

The elapsed time has crossed 24 hours, which gets converted to "X Days", so we are getting a ValidationError because the `time_elapsed` field was misusing a `TimeField`. I wasn't aware of the available `DurationField` which should be used in this case. I have made the changes, and will create a

[2019-09-28 19:38] arjunsalyan commented on #110
I have deployed a test version (a checkbox below the search bar):
http://ec2-52-34-234-111.us-west-2.compute.amazonaws.com/

Could you please see if it works fine and satisfies the requirement?
You may need to clear website data or do a hard refresh before it works as expected!

[2019-09-29 12:37] #124 closed, assigned to mojca, arjunsalyan

[2019-09-29 16:33] arjunsalyan commented on #117
While trying to implement this I felt that the `display_name` field might remove the need of the `os_arch_id`. I mean, `display_name` would be same for `10.8_x86_64` and `10.8_x86_64_legacy`, then I don't think we would need a separate key. Later, if the new buildbot setup brings in `10_8_x86_64` type of nomenclature, again we can set `display_name` for it as `10.8` and all the three will then poi

[2019-09-29 18:45] mojca commented on #117
Yes.

What I meant with `os_arch_id` could either be a numeric id that resolves to the actual name (via an additional table), or it could be a string. And `display_name` is in fact a much better name for the column than `os_arch[_something]`.

Yes, that would solve it.

What you suggested makes perfect sense.

The only requirements are that:
* port health shows just a single entry for `10.8`, usin

[2019-09-29 18:54] pmetzger commented on #110
Seems good to me...

[2019-10-09 11:12] ryandesign commented on #117
What's the status on getting this resolved? Right now the port health indicators are misleading for 10.6-10.8, because they show the last build before the switch to the libc++ workers, which might even have been a build of an earlier version of the port.

[2019-10-09 12:06] arjunsalyan commented on #117
Yes, I am a bit late on this. I did work on this this previously but the solution can be simplified by using only one `display_name` field. I am hoping to have this fixed by Sunday.

[2019-10-21 12:23] cjones051073 opened #131 "Trac ticket sorting order appears to be not well defined."
See e.g.

https://ports.macports.org/port/MacVim/tickets

not obvious what sorting, if any, is used on the tickets.

My suggestion would be to simply sort on the ticket number, so oldest (newest?) first, newest (oldest?) last.

[2019-10-21 12:39] cjones051073 commented on #86
Just ran into this so wondering if there had been any progress ? FWIW, I very much agree with the proposal to first list exact portname matches, and after that the partial matches, in a well defined (alphabetical) order. Currently, if you search for something that results in a lot of hits, finding what you want is quite awkward.

[2019-10-23 15:39] pmetzger commented on #131
Yah, numerical order seems sanest to me, too. Oldest at top, newest at bottom.

[2019-10-23 16:15] mojca commented on #131
I would argue the reverse and put the newest on top.

[2019-10-24 22:25] pmetzger commented on #131
One could always allow the user to pick by clicking on the column, or not, but either way, numerical order, either forward or reverse, is saner.

[2019-10-28 10:19] cjones051073 commented on #117
Any news on this ? The 10.15 builders are also now available so should also would be good to display the results for them too, as they become available.

[2019-10-28 10:31] mojca commented on #117
The new builders for 10.6-10.8 have already been added, however:
* @ryandesign has disabled the workers (until a bunch of binary archives are cleaned up, and maybe other issues)
* The full history has not yet been imported (this would be somewhat higher or priority list)
* We need to add a new entry for 10.15 now (and of course also fetch full history)
so you will only see a very tiny number of bu

[2019-11-01 03:30] ryandesign opened #133 "Newlines are not preserved in long description"
In `port info` newlines are preserved:

[code]

In this web app, [they are not](https://ports.macports.org/port/mongo-tools/summary):

[2019-11-04 22:04] cjones051073 commented on #117
Any update on adding the 10.15 build results to https://ports.macports.org/ ? Its a little inconvenient to not to be able to use this site to reference 10.15 build results.

[2019-11-08 07:49] ryandesign opened #135 "Port health is not tied to port version/revision"
The port health indicators are misleading because they are not tied to the port version/revision.

For example, mkvtoolnix was recently updated to 39.0.0. At the time of filing this ticket, the [port health indicators](https://ports.macports.org/port/mkvtoolnix/summary) show green for 10.14, 10.13, 10.12, red for 10.11, 10.10, 10.9, green for 10.8 & 10.7, and red for 10.6 and 10.6 i386.

But if yo

[2019-11-08 09:15] mojca commented on #135
Yes, I'm painfully aware of this and I have put this on the task list (not entered in the tracker though).

The prerequisite to get this working is to make the version information easily accessible from the buildbot history, and something that you would need to deploy on our buildbot master. The only  other alternative is to parse full build logs from all builds, but that will likely download plen

[2019-11-08 09:17] mojca commented on #135
Also, once we do this, we might need to somewhat extend the port health, so that it will show the health of the last build even when the newest build isn't yet ready (but make it clear that it's an older status).

[2019-11-08 09:23] ryandesign opened #136 "Don't open links in a new tab/window"
Seems like many of the links are programmed to open in a new tab/window. Would be better if it did not do that. I can open a link into a new tab/window by holding down the Command key while clicking it if I want that, but I don't know of a way to prevent a link that is programmed to open into a new tab/window from doing that.

[2019-11-09 00:30] ryandesign commented on #135
Printing the full `name @version_revision+variants` spec in the builder step instead of just the name seems like a reasonable thing to do. Would that be ok?

[2019-11-09 01:15] ryandesign commented on #135
What format would be best? Just a csv file for each builder with build number, port name, version, revision, variants?

I should be able to produce this data for successful builds by parsing the portbuilder logs, since the version, revision, and variants are printed as part of the archive name in the install and activate phases. If just this partial data can be imported, I'll start with this and w

[2019-11-11 03:53] fmw42 opened #137 "Search only shows one page of results"
When I search available ports for "py37",  I only get some of the links listed and no way to get to more of them further down the alphabet. There is no list of pages buttons.

Using Mac OSX Safari 12.1.2 on Sierra 10.12.6

[Ports | MacPorts Bug Report.pdf](https://github.com/macports/macports-webapp/files/3829637/Ports.MacPorts.Bug.Report.pdf)
 or even a next button.

[2019-11-12 17:48] chrstphrchvz opened #138 "Indicate deprecated ports"
Similar to how a prominent yellow-box message is displayed obsolete ports, I think it would be nice for a similar message to be displayed for ports that have been marked as deprecated (using the deprecated portgroup), with information similar to as displayed by the `port` command: details on why it's deprecated (i.e. it is EOL or unmaintained upstream, or because MacPorts has encountered issues ma

[2019-11-14 05:14] cjones051073 commented on #136
I second this. Its a choice that should not be forced from the server side, but left to the user to decide.

[2019-11-14 05:15] cjones051073 commented on #117
Any news ?
Just a comment, adding new OS releases is something we will need, about ince a year, so should be something that is easy and quick to do...

[2019-11-14 18:56] arjunsalyan commented on #117
The PR is now in a good state and should get merged very soon.

It is not very difficult right now, but yes, the friction can be reduced. This PR particularly got delayed due to a completely unrelated test starting to fail.

We also thought of automating the process of picking up any new builders, but it was delayed because of an expected deployment of Buildbot 2 and the changes it might bring wit

[2019-11-17 18:40] arjunsalyan commented on #117
10.15 has been added and entire build history has also been fetched.

[2019-11-17 19:16] ryandesign commented on #117
Super, thanks!

As for buildbot 2, if it's ready to go, I guess I need to try again to install it on a new vm on the server. I had made an attempt before but gave up when I encountered the postgresql server requirement, because I didn't know which version to install or how I should configure it.

[2019-11-29 08:21] ryandesign commented on #137
Duplicate of #86?

[2019-11-29 08:27] ryandesign opened #142 "Shorten port page's canonical URL"
Currently the URL of a port's main (summary) page is e.g.

`https://ports.macports.org/port/reflex/summary`

I would like the canonical URL of a port's web page -- the one we might be asking developers to add on their web sites to link back to us -- to be as short and sweet as possible. I'd certainly remove the `/summary` part:

`https://ports.macports.org/port/reflex`

I might even remove the `/p

[2019-11-29 08:33] ryandesign opened #143 "SEO optimization of title"
The title of a port web page is currently e.g.:

`ImageMagick- Port | MacPorts`

I propose that the title should be changed to e.g.:

`Install ImageMagick on macOS with MacPorts`

A competing web site did this years ago and was usually the first search result for such strings on Google, which was very annoying.

We should try to make our pages extremely findable through the searches users are like

[2019-11-29 09:03] ryandesign opened #144 "Add installation instructions to each port page"
Each port page should have simple instructions for installing the port. I had something like this in my earlier attempt at a MacPorts web app from 2014, at the bottom of the righthand column. For installable ports, it would say something like this:

For ports that are not installable (i.e. obsolete ports), it would say something different. For example:

Note that not all obsolete ports declare a r

[2019-11-29 09:06] ryandesign opened #145 "Remove box and border around port name / description"
On port pages, there is the port name at the top, with a short description and port health indicators below. These are all enclosed by a box with a medium gray border and a light gray background. I would suggest removing the box and the background and just letting white space do the job.

[2019-11-29 09:52] ryandesign opened #146 "Swap placement of long description and port health"
Currently, port pages have the port health at the top (below the short description) and off in the righthand column is the long description. I would switch the position of these two elements.

I would make the short description text larger, for example using the Twitter Bootstrap `lead` class, to differentiate it from the long description which would then be below it.

Because some port's long des

[2019-11-29 09:53] ryandesign opened #147 "About page references old Subversion repository"
The about page says:

But we imported everything from Subversion to GitHub at the end of 2016, and the link is actually to https://github.com/macports/macports-ports/tree/master/sysutils/mpstats, so it seems the text here needs to be updated.

[2019-11-29 12:25] ryandesign opened #148 "MacPorts NEWS"
There is a link in the footer that reads:

"NEWS" should not be in all-caps; it is not an acronym.

[2019-12-01 19:49] #148 closed, assigned to nobody

[2019-12-01 19:50] mojca commented on #148
Fixed, thanks.

[2019-12-01 20:00] mojca commented on #147
There are two links to subversion, one of them pointing to https://trac.macports.org/browser/branches/gsoc11-statistics which incidentally doesn't redirect, but can be found at an utterly unexpected location: https://github.com/macports/macports-contrib/tree/gsoc11-statistics/.

I can fix the link to ports, but I'm not sure if that strange location in the contrib repository actually deserves an ex

[2019-12-01 20:04] mojca commented on #147
The relevant code is [here](https://github.com/macports/macports-webapp/blob/8da0f1adad9b37ba481934fa90ba3763738a666a/app/ports/templates/ports/about.html#L81).

We are actually already providing a link to `mpstats` in the same paragraph, so my suggestion would rather be to simply remove the whole sentence?

[2019-12-02 10:19] ryandesign commented on #147
Ok

[2019-12-02 10:21] ryandesign opened #149 "Copyable search URL"
When I type into the search box, a search automatically happens without pressing Return, however even if I do press Return, the URL doesn't change. This makes it impossible to copy and paste the URL of the search results, which I might want to do for example in reply to a message on the mailing list where someone has asked if we have a particular port.

[2019-12-04 17:37] arjunsalyan commented on #143
I am in favor of this. The SEO of the app needs some work. Maybe the short description of the ports can be made meta description of the pages.

[2019-12-04 17:41] arjunsalyan commented on #149
I had started work on a separate and more advanced search page but could not take it forward. I think the search on home should be left as it is- just a quick way to discover ports. And an advanced version could shift to a separate page.

[2019-12-12 03:57] ryandesign opened #152 "Capitalize "GitHub" properly"
Everywhere it appears, "GitHub" should be capitalized like that (not "Github" as it currently appears in some places).

[2020-01-20 18:34] mf2k commented on #86
I agree with the comments above that sorting the results alphabetically would help a lot with this.

[2020-01-20 19:42] cjones051073 commented on #137
Not quite, I would say. That issue is more about the order being unpredictable and not particularly useful. This issue is the fact you cannot get mire results than those that just so happen to make it into the selected list. Both these issues need addressing to make the search function useful.

[2020-03-08 02:57] me-diru opened #196 "demo links to be removed"
The demo links are expired and as the project is hosted already. removing them would be less confusing.

[2020-03-23 14:00] Lord-V15 commented on #196
I'll get to it then.
Should be simple enough to remove them.
Should we replace them with new links? If so, we need to get started in preparing them.

[2020-03-23 14:04] Lord-V15 commented on #152
Shouldn't this issue be closed @ryandesign ?

[2020-03-23 15:49] #152 closed, assigned to nobody

[2020-04-16 08:09] arjunsalyan commented on #196
I removed the expired links and added the production site link, thank you.

[2020-04-16 08:09] #196 closed, assigned to nobody

[2020-04-22 14:12] #149 closed, assigned to nobody

[2020-04-29 20:53] cjones051073 commented on #131
@arjunsalyan @mojca may I ask id there is any intention to look into this issue at all ?

[2020-04-30 12:58] arjunsalyan commented on #131
We are working on a major code refactoring and wish to resolve all the issues with the newer code. But it is not clear as to when we will be ready with that, so for the time being I have submitted this simple fix.

The newer order will be this:
![Screenshot 2020-04-30 at 6 28 16 PM](https://user-images.githubusercontent.com/40331563/80712981-5fba3d80-8b10-11ea-9e49-87e9c7aae342.png)

[2020-04-30 14:42] #131 closed, assigned to nobody

[2020-05-01 13:12] arjunsalyan commented on #12
I created a temporary view, started the server and setup HttpStatusPush to post to that view's route. There can be other workarounds also.

[2020-05-10 20:30] cjones051073 commented on #79
I do not know if it is the same issue as here, but it seems related. I have noticed something else wrong with these versions versus month plots, which is they seem to have stopped adding new versions, from sometime towards the end of last year. See e.g. for openssl

https://ports.macports.org/port/openssl/stats?days=365&days_ago=0

The plot plummets to a very low number of entries around august la

[2020-05-11 08:24] arjunsalyan commented on #79
While the issue is not related, but seems like some serious bug. Thanks for reporting, on it.

[2020-05-12 19:14] arjunsalyan commented on #86
I am working on a new search backend for the webapp. A demo is available here for feedback: http://macports.silentfox.tech/

[2020-05-13 16:30] arjunsalyan commented on #79
The issue of newer versions not showing up should be gone now.

This looks fine: https://ports.macports.org/port/openssl/stats?days=365&days_ago=0

[2020-05-13 17:00] cjones051073 commented on #79
thanks ! looks great.

[2020-05-13 17:17] rajgoesout opened #213 "Add options to sort/group builds table entries by attributes"
https://ports.macports.org/port/python37/builds

In the builds info table, there could be buttons to sort in ascending/desc order of buildno., start time, etc. Also an option to group the builds by builder, watcher, build status, etc. could be added.

[2020-05-13 17:43] neverpanic opened #214 "Webapp Cron failed, please analyze"
The cron failed on 2020-05-12 20:50:19 UTC:
[code]

This may be a temporary issue since I've only seen it once, but I'd still like you to take a look.

Feel free to close this, if it's a transient issue and no further action needs to be taken.

[2020-05-14 19:12] arjunsalyan commented on #214
I remember merging some changes around the time, also we had builds.macports.org down for some time, which could have resulted in a broken portindex.json.

[2020-05-14 20:00] mojca commented on #214
May I suggest adding a simple error handling around this (a simple `try` block)?
If fetching or parsing the file fails (it could simply be that the file was fetched at the time when the file itself was in the middle of the update), this doesn't need to be fatal, it will be updated next time.

[2020-05-15 23:11] neverpanic commented on #214
I guess since I haven't seen this again, we can just ignore this for now. If you agree, feel free to close the ticket.

[2020-05-16 11:21] cjones051073 opened #216 "Build stats. pages hang whilst loading."
See this for a number of ports. build stats. page just hangs with the spinning waiting symbol. see e.g.

https://ports.macports.org/port/libgcc10/stats?days=30&days_ago=0

[2020-05-19 14:12] arjunsalyan commented on #216
We use `distutils.version.LooseVersion` to sort the versions of the ports. But it fails with an error `TypeError : '<' not supported between instances of 'str' and 'int'` whenever it encounters an underscore or a hyphen in the version string. I had fixed this by pre-cleaning the versions before sorting and converting underscores to dots. Same needs to be done with hyphens as I can see that `libgcc

[2020-05-19 15:52] jmroot commented on #216
I have a feeling you're going to be chasing bugs here endlessly unless you use the exact same version comparison algorithm as MacPorts base.

[2020-05-26 15:41] #216 closed, assigned to nobody

[2020-06-01 06:52] arjunsalyan commented on #114
I have started incorporating [Chart.js](https://www.chartjs.org/) just because I found it more popular, but the switch would be easy now due to other changes that were made.

Do you recommend c3 or plotly.js over Chart.js?

[2020-06-01 07:00] l2dy commented on #114
I have no preference on this. Go ahead if it doesn't require loading external resources (i.e. can be bundled into our website).

[2020-07-06 06:14] ryandesign opened #234 "Indicate combinations of licenses more clearly"
The web app currently appears to list a port's license exactly as it's written in the Portfile, but the notation we use doesn't make completely clear what we mean when multiple licenses are listed.

For example the py-setuptools portfile currently says:

The web app currently displays:

But `port info py-setuptools` is more clear: it says:

In other words, someone wanting to use this software must

[2020-07-11 19:21] arjunsalyan commented on #146
I have tried to incorporate these changes. Here is the URL of the temporary deployment: http://macports.silentfox.tech/port/slowhttptest/.

[2020-07-16 18:41] arjunsalyan commented on #234
Duplicate of https://github.com/macports/macports-webapp/issues/44

[2020-07-18 11:38] #234 closed, assigned to arjunsalyan

[2020-07-19 18:06] #44 closed, assigned to arjunsalyan

[2020-07-20 08:41] arjunsalyan commented on #234
The changes will be visible only for those ports which get new commits. To update license on all ports, a full database update is needed which should be done soon.

However, on the temporary testing website, the changes can be seen immediately: http://macports.silentfox.tech/port/py-setuptools/details/

[2020-07-24 09:42] arjunsalyan commented on #9
This has been achieved: https://github.com/arjunsalyan/macports-ubuntu

[2020-07-24 09:42] #9 closed, assigned to mojca

[2020-07-24 09:44] #2 closed, assigned to nobody

[2020-07-24 09:44] #10 closed, assigned to arjunsalyan

[2020-08-07 15:21] mojca commented on #214
Some simple try/catch has been added, so let's close this one for now and reopen if it happens again.

[2020-08-07 15:21] #214 closed, assigned to arjunsalyan

[2020-08-07 15:24] mojca commented on #146
@ryandesign: do you have any further suggestions for improvements or can we close this now (based on what's on the temporary repo)?

[2020-08-07 15:26] mojca commented on #145
In the refactor design this is no longer relevant / the layout is completely different. If you have further suggestions for improving the design, please file a new ticket.

[2020-08-07 15:26] #145 closed, assigned to nobody

[2020-08-07 15:30] mojca commented on #144
@ryandesign: most of your suggestions have been addressed. Can you please take another look at the new site and suggest what else to change, so that we could close this ticket in a satisfactory way?

[2020-08-07 15:42] mojca commented on #114
@arjunsalyan: this one can be closed, right?

[2020-08-07 15:45] mojca commented on #21
API is relatively complete in the `gsoc2020` branch and nicely referenced, so I guess this ticket can be closed.

[2020-08-07 15:45] #21 closed, assigned to arjunsalyan

[2020-08-07 15:47] mojca commented on #23
I guess this works satisfactory by now.

[2020-08-07 15:47] #23 closed, assigned to arjunsalyan

[2020-08-07 15:50] mojca commented on #26
This seems to work already: `api/v1/ports/?page=3`

[2020-08-07 15:50] #26 closed, assigned to nobody

[2020-08-07 15:51] mojca commented on #24
This has been handled.

[2020-08-07 15:51] #24 closed, assigned to nobody

[2020-08-07 15:56] mojca commented on #51
@dmitriz: would you be willing to take another look at http://macports.silentfox.tech/ (the URL might change soon) and open a new ticket or tickets with whatever you still feel would be nice to change?

[2020-08-07 16:01] arjunsalyan commented on #114
Yes, this can be closed. Everything the website uses has been bundled with it.

[2020-08-07 16:01] #114 closed, assigned to nobody

[2020-08-10 16:30] #147 closed, assigned to nobody

[2020-08-10 17:27] arjunsalyan commented on #38
I have added copyable links to all charts and tables for the stats pages (port stats and overall stats).

Or did you mean individual rows of the tables?

[2020-08-10 17:28] #28 closed, assigned to nobody

[2020-08-10 17:29] arjunsalyan commented on #28
The script was rewritten and the primary concern of this ticket was addressed.

[2020-08-10 17:31] arjunsalyan commented on #12
I would be in favor of closing this now. The app supports parsing the requests received from buildbot2's `HttpStatusPush`, and other issues related to Buildbot would be better addressed in the relevant repositories.

[2020-08-10 17:32] #12 closed, assigned to rajgoesout, arjunsalyan

[2020-08-10 17:34] mojca commented on #38
No, just a single link to one chart is fine.

[2020-08-14 14:06] mojca commented on #146
I'm closing this ticket for now since the design has undergone some major changes anyway (and includes your suggestions).
If you have further suggestions about the new site (offline at the moment), please simply file a new ticket. Thanks.

[2020-08-14 14:06] #146 closed, assigned to nobody

[2020-08-14 14:08] mojca commented on #38
The site is down, so I cannot test it, but let's close it as done.

[2020-08-14 14:08] #38 closed, assigned to arjunsalyan

[2020-08-18 10:36] tux-o-matic opened #253 "Django debug is enabled on live MacPorts site"
I just faced a Django stack trace debug page on ports.macports.org, looking at [settings.py](https://github.com/macports/macports-webapp/blob/5ca11c03418bc4b95b1616caa40f4c4dd8e33164/app/MacPorts/settings.py#L27) I can see that Django debug value is set to true and seems to be kept as is in the live site.

[2020-10-14 09:20] arjunsalyan commented on #253
Thank you, this was fixed in https://github.com/macports/macports-webapp/commit/c74730ea00b32958b00ef3ce9b745ddf1c6795f6

[2020-10-14 09:20] #253 closed, assigned to nobody

[2020-11-15 23:44] jmroot opened #258 "Add macOS 11.0 builders"
ports-11.0_x86_64 is already online and ports-11.0_arm64 is configured but not yet active.

[2020-11-21 07:43] ryandesign commented on #258
ports-11.0_arm64 is now active as well. I see that both of them have been added to the web site.

Can they please be renamed from "11.0" to "11"? I've just made that change on buildbot itself so perhaps the app needs to be updated in how it gets the data from buildbot.

Old URLs to "11.0" will continue to work so if you have complete URLs to "11.0" build logs stored in the database there's no need

[2020-11-21 14:49] neverpanic commented on #258
Done.

[2020-11-21 14:49] #258 closed, assigned to nobody

[2021-02-03 11:02] tarakeshp opened #259 "macOS BigSur, Samba3 Failed"
1. Latest XCode is installed.
2. Installed Macports for BigSur from https://www.macports.org/install.php

I tried repeating the steps below 4 times. But no luck.

[code]

[2021-02-03 13:59] jmroot commented on #259
This is the MacPorts Web App repository. You're having trouble building a port, which has nothing to do with the web app. Please report at https://trac.macports.org/ and add the main.log mentioned in the error message to the ticket as an attachment.

[2021-02-03 13:59] #259 closed, assigned to nobody

[2021-03-09 07:27] Janosch opened #263 "Port detail page returns HTTP 500 for ports where the case changed"
I recently renamed some of my ports to match the case of the corresponding github project:

macpass -> MacPass
boca -> BoCA

There are two problems concerning the macports web app:
- The obsolete name is still displayed (in this example the lowercase names)
- Opening the port detail page for **both** spellings returns a HTTP 500 error

Steps to reproduce:

1. Open the URLs
https://ports.macports.o

[2021-03-09 17:29] arjunsalyan commented on #263
This problem is occuring because the `GET` query is getting two results here: https://github.com/macports/macports-webapp/blob/af79b281b180c8d9572abef2183fcea5f35882f3/app/ports/views.py#L114

We have had this issue in the past also, and the root cause lies in the code that updates the port information (it creates a duplicate port when case changes).

This and a lot of other issues with the websit

[2021-03-13 11:38] smnbldwn opened #264 "Fonts missing on Freeciv on 10.5.8 powerpc"
![Picture 1](https://user-images.githubusercontent.com/8080349/111029095-acd69380-83f2-11eb-8517-d14adc82276e.png)
I used Macports to install Freeciv on my Powerbook running 10.5.8. It compiled and installed all the dependencies and then Freeciv without error messages. When I opened Freeciv, it started but there is no text and where there should be text, it is just placeholders. Do I need to insta

[2021-03-13 15:44] kencu commented on #264
First of all, welcome! This particular place is not a great place to report bugs, I'm afraid, as nobody would come here usually to look for them.

Something is not right, you're certainly correct. A missing font sounds like a reasonable place to start looking for what is wrong, indeed.

Please go here <https://trac.macports.org> to report your bug, which is where everyone will be expecting to find

[2021-03-13 15:51] smnbldwn commented on #264
Thank you, will do.

[2021-03-13 15:51] #264 closed, assigned to nobody

[2021-03-25 18:43] jmehnle opened #266 "pwgen moved from https://sourceforge.net/projects/pwgen/ to https://github.com/tytso/pwgen"
The `pwgen` port specifies the source homepage as `https://sourceforge.net/projects/pwgen/`, but `pwgen` moved to its author's GitHub account a while ago: `https://github.com/tytso/pwgen`

[2021-03-25 18:47] jmehnle commented on #266
Apologies, this was the wrong tracker to file this issue in.

[2021-03-25 18:47] #266 closed, assigned to nobody

[2021-03-25 19:10] neverpanic commented on #263
Fixed by #265.

[2021-03-25 19:10] #263 closed, assigned to nobody

[2021-03-27 20:16] ylluminate opened #268 "Gateway error for package paths?"
While trying to visit https://ports.macports.org/port/crystal/ I'm receiving a gateway error.

[2021-03-27 20:16] ylluminate commented on #268
After about 10 minutes of getting a 502 gateway error the packages began loading again.

[2021-04-03 13:59] arjunsalyan commented on #268
I was getting this error earlier, but now it seems to have settled down and is not reproducible. Maybe it was a temporary server issue.

[2021-04-06 07:29] #268 closed, assigned to nobody

[2021-04-13 21:28] ryandesign opened #273 "Only 10.15 builds are being imported into web app"
I am curious why the web app only shows build information for one build (on 10.15) for this port:

https://ports.macports.org/port/lexbor/summary

Builds were successful on all OS versions. This is a new port that no other port depends on, so its build information should have been readily available as a separate build on all OS versions.

See commit status on this commit: https://github.com/macpor

[2021-04-14 15:54] ryandesign commented on #273
It looks like only build information for 10.15 is being imported, for all ports:

https://ports.macports.org/ports/all_builds/

Any idea why?

[2021-04-17 12:48] neverpanic commented on #273
We're at least not getting any error messages from the cronjob. Anything else I'll have to investigate first :/

[2021-04-20 00:32] ryandesign commented on #273
According to the build server web logs, Braeburn continues to retrieve build information for all platforms, e.g.:
[code]

[2021-04-20 00:40] jmroot commented on #273
Why are so many of those 404?

[2021-04-20 00:41] ryandesign commented on #273
This is the problem I described in https://trac.macports.org/ticket/62401. After the failed buildmaster SSD was replaced, I skipped about 100 build numbers for every builder except 10.15. The import process needs to skip the ~100 nonexistent builds to get back to builds that exist.

[2021-04-20 00:47] ryandesign commented on #273
Should this line be `continue` instead of `break`?

https://github.com/macports/macports-webapp/blob/master/app/ports/models/buildhistory.py#L117

[2021-04-20 01:07] neverpanic commented on #273
Yeah, probably. I guess this was written with the intent to be resistant to temporary failures, but that now breaks things for permanent ones. `get_data_from_url()` should probably differentiate the temporary vs. permanent cases depending on the HTTP error code and continue on permanent errors while breaking on temporary ones.

[2021-04-20 06:24] mojca commented on #273
When this was written, I wasn't aware that it was a valid situation to have some build numbers in-between missing (I also didn't think of the situation when the webapp would be down for so long that more than 10k builds would pass by in the meantime, which is another case of when some builds could no longer be retrieved).

In case the buildbot master temporarily becomes non-responsive or goes down

[2021-04-20 07:01] arjunsalyan commented on #273
In case of a 404 response code we need to have continue, but for all other cases I propose that we keep break.

[2021-04-20 07:05] mojca commented on #273
Yes, indeed.
Are you willing to prepare a patch (and make sure that it also ends up in the new branch)?

[2021-04-20 07:20] herbygillot commented on #273
What is a clean way to ensure that we get the next available build, but don't end up skipping builds in case the buildbot is down?

Sounds like it would be a 404 in both cases....

[2021-04-20 07:30] mojca commented on #273
If the buildbot is down, you should not get any response at all (so not the 404 response either).
It would either be "server not reachable" or "timeout" or something along those lines.

[2021-04-21 00:28] ryandesign commented on #273
If buildmaster and nginx are up but the requested build is not found (e.g. because that build number was skipped, as is the case here, or perhaps because that build has not yet been completed) then you'll get a 404 error.

If buildmaster is down but nginx is up you'll get a 50x error like 502 Bad Gateway or 504 Gateway Timeout.

If nginx is down you'll get no response.

[2021-04-22 07:53] ryandesign opened #275 "Remove legacy 10.6-10.8 builders"
From the web server logs on build.macports.org I saw attempts to retrieve build information for the 10.6-10.8 legacy builders:

[code]

These four builders no longer exist so you should remove everything about them from the web app.

[2021-04-22 07:56] mojca commented on #275
I definitely agree that we should remove fetching the data from the legacy builders, but I don't think we need to remove the history of the builds.

[2021-04-23 10:35] ryandesign commented on #273
Looks like all the builds have been imported now. Thanks!

[2021-04-23 10:35] #273 closed, assigned to nobody

[2021-06-13 17:26] harens commented on #144
I was just searching up `Janet MacPorts` (the programming language) on Startpage, and surprisingly, the first result came from this website: https://techindyeah.org/

I've seen a few MacPorts website mock-ups before, but this one has some of @ryandesign's suggestions (although not the obsolete one, which is already available), and so it reminded me of this issue. I couldn't find who made the websi

[2021-06-13 17:33] arjunsalyan commented on #144
This is the new version of the website which I am currently hosting at https://server1.arjunsalyan.com/. We worked on it last year. The code is hosted in the `gsoc2020` branch of this repository. https://techindyeah.org is just a redirect to my server.

We are in the process of transitioning to the new version of the website. Soon ports.macports.org will run the version from my server.

[2021-06-26 20:41] mojca opened #283 "Deleted ports: don't show livecheck; change option "hide deleted" to "show deleted""
* Showing livecheck of deleted ports makes no sense to me. From what I understand it will always fail to work (by design) and the app should not even run livecheck for those ports.
* The checkbox "Hide deleted" should probably say "Show deleted" (and be unchecked by default).
* Less important: for outdated livecheck it would potentially be helpful if the latest version was listed in the table as w

[2021-07-03 14:25] dnet890 opened #285 "Request Maintainer for specific apps"
Hi
I am just curious that how to request maintainers/somebody to make apps even for beta or dev version to be available on macports? because I only find this one (https://ports.macports.org/statistics/faq/) Please advise. Thanks

[2021-07-03 16:31] mojca commented on #285
These issues are only meant for feature requests and bug reports for the website (https://ports.macports.org), so this is a bit off-topic for this particular tracker.

The official bug / feature tracker is here: https://trac.macports.org/wiki/Tickets. You can log in with github, I believe there's no need to make a new account in order to be able to open a request for a new port.

As a general advi

[2021-07-04 01:39] dnet890 commented on #285
Thanks for your reply. By the way, macports repository is not available for the proprietary based app. Is that so?

[2021-07-12 14:16] mojca commented on #285
Proprietary apps are a bit of a sensitive topic. Generally the answer is no, but there might be some extremely extremely rare exceptions.

Just to make it clear: you can always set up port definitions in a separate, unofficial repository that can be shared among a large group of users. That should still make the ports easy to install / uninstall / upgrade etc.

I will close this ticket here since

[2021-07-12 14:16] #285 closed, assigned to nobody

[2021-07-12 14:21] mojca commented on #104
This has already been fixed on the new version of the site that's about to go live next week, so I'm closing this ticket.

[2021-07-12 14:21] #104 closed, assigned to nobody

[2021-07-12 14:28] mojca commented on #143
@ryandesign: the new version already uses `Install ImageMagick on macOS with MacPort`. Is there anything else that needs to be done before we can close this ticket?

[2021-07-18 20:33] jmroot opened #301 "Searching for ports with a one-character name doesn't work"
For example, entering `R` in the search box produces no results. I understand it's probably inefficient to list every single port with a given letter in its name, but exact matches at least should be displayed in this case.

As it happens, there are currently five such ports: `e`, `n`, `q`, `R`, and `z`. Two-character port names seems to work fine.

If there are no exact matches for a one-characte

[2021-07-20 17:27] rdbisme opened #302 "Clicking on the API link on the bottom is broken"
The API link on the bottom of the page (from mobile, in the list of urls) is broken ☺
![Screenshot_20210720_192610](https://user-images.githubusercontent.com/8077364/126368657-a6590d9f-fa5f-4379-b8b1-d5da8396f277.jpg)

Is it normal?

[2021-07-20 18:21] arjunsalyan commented on #302
No, it is not normal, it is broken. The documentation and the footer is pending an update.

[2021-07-20 19:00] #302 closed, assigned to nobody

[2021-07-21 22:12] mojca commented on #275
@ryandesign: can you please just confirm whether these queries are still running from the new site? (The old site is still active.)

[2021-07-21 22:19] mojca commented on #144
@arjunsalyan: now that the page was officially deployed, it probably makes sense to ensure that alternative links don't end up circulating around as "look, here I found page X explaining how to install port Y" as in the above example of `techindyeah.org`, and in particular not as the first google hit (before the official page). Either a redirect or alternative contents would probably make sense.

[2021-07-21 22:20] #144 closed, assigned to nobody

[2021-07-21 22:22] mojca commented on #143
I'm closing this issue now as I consider it done. If anything else could be done, we can open a new ticket.

[2021-07-21 22:22] #143 closed, assigned to nobody

[2021-07-21 22:27] mojca commented on #142
The `summary` part has gone now. We now provide two options
[code]

Removing the `port/` part is not feasible at the moment as we also need other functionality like `statistics/` and we'll run into troubles if someone decides to package a port with that name.

I'm all in favour of merging the contents of other parts of the page into the same uniform web application, but until we do that, I don't s

[2021-07-21 22:27] #142 closed, assigned to nobody

[2021-07-21 22:36] mojca commented on #117
I believe that the main of this ticket has been resolved, but a few other fronts remain open that might warrant opening a new ticket. Like:
1. automatically detecting a new builder when one becomes available
2. stop fetching from old builder if it no longer exists

We only need to do (1) once per year, and in case we switch to a newer buildbot, we'll need to redo the work. So I'm not even sure if

[2021-07-21 22:51] mojca commented on #138
The information about the port being obsolete comes straight from `PortIndex` whenever there's a `replaced_by` keyword in it.

I checked the `obsolete` PG, but not even `port info` tells you that the port is deprecated (I tested with `ruby23`).

Nearly all the info about ports comes directly from the PortIndex. Occasionally a bit of extra work is done by parsing something like `port variants <port

[2021-07-21 22:55] mojca commented on #137
After the search page has basically been rewritten from scratch, I believe that the problem has been addressed. If there's something left, please reopen the ticket or open a new one.

[2021-07-21 22:55] #137 closed, assigned to nobody

[2021-07-21 23:08] mojca commented on #49
While the idea is pretty interesting, I believe that it has a somewhat to low benefit-to-effort ratio, both because it might be a bit tricky to get it right and comfortable to use, and because the benefit doesn't seem that high. I believe it's still better to improve the search engine and allow better filtering / sorting by popularity, by broken builds, outdatedness etc.

I'm closing the ticket si

[2021-07-21 23:08] #49 closed, assigned to nobody

[2021-07-21 23:14] mojca commented on #99
@arjunsalyan: is this functionality gone on the new site?

[2021-07-21 23:20] mojca commented on #301
Not sure if this qualifies as a bug or as a feature ... I added a `bug` label for now.

[2021-07-21 23:37] #110 closed, assigned to nobody

[2021-07-21 23:39] mojca commented on #110
See also #283.

[2021-07-22 00:00] jmroot commented on #301
Not being able to access some ports is certainly a bug. Admittedly the last paragraph is more of a feature request though.

[2021-07-22 00:00] mojca opened #304 "More prominent disclaimer about opt-in statistics + invitation to install mpstats"
To anyone new to macports and this page, it's not immediately clear that we are showing opt-in statistics all over the place, and the numbers might seem ridiculously low.

Make the disclaimer more prominent wherever we are showing the statistics, as well as a more visible invitation to participate.

We would be grateful for anyone coming up with some sketches of design and text to display ...

[2021-07-22 00:12] jmroot opened #305 "Improve discoverability of setting to always show details"
My experience with the updated site has been that I always have to click the Details button on every port page, because the information I'm after is not shown on the simple page. It would be nice to have a preference that can be set to always go straight to the details page.

[2021-07-22 00:30] mojca opened #306 "Use index tooltip on the main statistics page"
The statistic graphs for individual ports (`app/port/templates/port/port_stats.htm`) mostly use
[code]
which allows seeing values for the full column at once.

Knowing the numbers on the main statistics page however requires hovering over super tiny sub-pixel high bars which is almost a mission-impossible.

It might make sense to use index tooltips on the main statistics graphs as well.

It might

[2021-07-22 06:00] mojca commented on #305
This functionality already exists: there is a "Make default" link above the port health.

<img src="https://user-images.githubusercontent.com/15606/126595279-d5c97c31-b29b-4f1e-a771-6219d9f46306.png" data-canonical-src="https://user-images.githubusercontent.com/15606/126595279-d5c97c31-b29b-4f1e-a771-6219d9f46306.png" width="344" height="154" />

Should the link be renamed, redesigned, or be setta

[2021-07-22 06:26] mojca opened #307 "Create a standalone Docker container with fully functional app and some synthetic data"
I'm putting this idea up for discussion / brainstorming / thoughts.

If someone with little experience or little time would like to make some simple contributions to the application, it's currently somewhat non-trivial to set up and populate the database to get a demo app up and running quickly.

It seems to me that it would be extremely useful if users on any operating system could be able to qui

[2021-07-22 06:32] mojca commented on #113
I believe that this has been fixed with the new version of the app.
In case I'm wrong, please reopen the ticket.

[2021-07-22 06:33] #113 closed, assigned to nobody

[2021-07-22 06:38] mojca commented on #136
Most of the links are internal, but build results open in a new window.

I see 8 instances of `<a target="_blank"` in the sources. Should we simply remove all occurencies of `target="_blank"`, independent of whether it's an external or internal link?

It's easy to do, I'm just asking for some confirmation before attempting to do anything.

[2021-07-22 07:36] jmroot commented on #305
Ah, so that's what that does. Yes, something needs to change there, as there is no indication whatsoever of what that link will do when you click it. My expectation was that it would make the specific port on that page "default" in some way (though I didn't know what that would mean). It's surprising that something on the page for a specific port toggles a global setting.

[2021-07-22 16:28] cjones051073 commented on #136
For me, yes, remove them. It should be up to the reader if they want the link in the same tab, a new tab or a new window, with the last two trivially available with a right click on the link.

[2021-07-22 17:56] mojca commented on #136
OK, thanks.

I have a trivial PR ready, I'll just wait a bit longer for Arjun's blessing before merging.

@ryandesign: slightly (un)related: there are tons of broken links to buildbot build logs. I'll open a new ticket for that, but I guess that we need to add another field to check whether a particular build is still accessible via web interface, and only make a hyperlink if that log still exists

[2021-07-24 10:51] ryandesign opened #309 "Change MacOS to macOS"
All occurrences of "MacOS" should be changed to "macOS".

[2021-07-25 11:45] #136 closed, assigned to mojca

[2021-07-25 15:29] bestlem opened #310 "Access to MacPorts trac"
I think there should be a link to the MacPorts trac from the main page.

The issues link surprised be to going to issue on the web site, Looking more carefully I can see that makes sense but with no link to Trac then it seems odd.

Currently how do you get to Trac via links, even Documentation does not have a link.

[2021-07-25 16:31] mojca commented on #310
I'm not sure what exactly your proposal is.

[2021-07-25 18:28] bestlem commented on #310
Minimum is at the bottom of https://ports.macports.org/ add a link to Trac under the macports heading ie a direct link.

My main point was more reporting the issue rather than a solution as I am not a good GUI designer, I can spot issues but not suggest solutions

[2021-07-27 06:45] arjunsalyan commented on #310
If I am getting it right, the proposal is to provide a convenient way to report more issues with ports (on Trac). And also a link to
trac in the footer.

For example we can have a button on every port page saying `Report an issue` which would take to the [new ticket page](https://trac.macports.org/newticket).

[2021-07-27 07:25] mojca commented on #310
Well, in that case we could use directly something like

    https://trac.macports.org/newticket?port=gnuplot&cc=mojca

automatically filling in the port name and CC-ing maintainers. That sounds like a potentially cute idea.

[2021-07-27 13:12] mojca commented on #310
@bestlem: just for clarification. My personal long term idea (not sure if it will ever get implemented) would be to somehow "merge" the main macports site with this one, so that both would have an uniform look and feel, probably a common header/footer, and ideally come from the same source code repository / the same server. There's more than just Trac missing among the links.

Note that each port

[2021-07-27 13:36] bestlem commented on #310
Yes that makes sense - and I definitely agree with the last sentaece - the current setup confuses me

Actually I would go further. When using the site you do not care about the site you are interested in Macports. Looking at all the options under Quick Link I think none of them are needed as quick links. Put all the website things under one link.

[2021-07-29 08:16] #309 closed, assigned to mojca

[2021-07-29 15:14] jmroot opened #312 "Livecheck outdated status should be cleared when port is updated"
Currently you can get something like this between when a new port version is committed and livecheck is next run:
![Screen Shot 2021-07-30 at 01 13 57 ](https://user-images.githubusercontent.com/1075699/127518083-c51849db-a5e2-42a2-ae76-c6f952e8bac2.png)

[2021-07-29 20:02] mojca commented on #312
Just some brainstorming.

@arjunsalyan: I would probably implement this somewhere inside `Port.add_or_update`:
https://github.com/macports/macports-webapp/blob/932ff73243a849205ef3400f7f46e5dedf8ab532/app/port/models.py#L91-L92

We could check whether the version or revision have changed, and if any of those two fields did, schedule the livecheck via some async/non-blocking job (we basically only

[2021-07-29 20:13] mojca commented on #312
PS: yes, at some rare occasions the result of the livecheck could also change as a result of changing `livecheck.regex` or `livecheck.url` inside the `Portfile`, or even inside the `PortGroup`.

If we run livecheck on regular basis anyway, we probably don't need to worry about this case.

Basically I don't really care that much if we run livecheck for all updated port or just for those where the v

[2021-08-01 13:59] arjunsalyan commented on #312
How quickly does `port sync` reflect changes after a commit has been made. Is it immediate? Or does it sync only after the port builds?

The approach we go ahead with will depend on this. Instant updates would be easy to handle by simply supplying all updated ports to a function that runs livecheck in background.

[2021-08-01 14:12] jmroot commented on #312
Immediately if syncing from git, but rsync is behind by I think about half an hour (or more if using a less frequently updated mirror).

[2021-08-01 17:31] mojca commented on #312
Aren't we already going through the (updated) ports from portindex json on regular basis? (Are we generating json locally now that we have MacPorts inside the Docker container?)

Maybe we just need to make sure that we use the latest git repo for both port data and for anything that the port command does, like livecheck. We just need to add one line to macports configuration to make sure that the

[2021-08-02 07:14] arjunsalyan commented on #312
Yes we do, but are not using it for the `port` command (`sources.conf` refers to rsync).

Okay, that's something we will have to change in the Dockerfile.

If I am right, when using the git repo directly in `sources.conf` file, it would remove the need for `port sync`? Since we are updating the git repo separately with `git pull`.

[2021-08-02 07:45] jmroot commented on #312
`port sync` runs `portindex` for git sources in addition to pulling. So avoiding it is possible, but only if you are running `portindex` as a separate step.

[2021-08-02 09:22] mojca commented on #312
In principle we run both `portindex` and `portindex2json`.
Now, we run it with `-p macosx_19_i386` at the moment, so I'm not 100% sure what that means as far as the `port` command is concerned. Maybe this needs some checking, just in case.

[2021-10-25 11:09] mascguy opened #318 "Minor: Page title shows "Maintained by Me," when in the "Followed by Me" section"
A minor issue for sure, but would be nice to fix.

[2021-10-26 20:38] mascguy commented on #213
I'd love to see this too, as the list of builds can be quite lengthy. (And will be even more so, once our new macOS Monterey buildbots come online.)

[2021-10-30 14:39] #318 closed, assigned to nobody

[2021-10-30 14:40] mascguy commented on #318
Arjun, was this fixed? I'm not seeing any change in the page title...

[2021-10-30 14:44] mascguy commented on #318
Never mind, it's fixed now. Thanks so much!

[2021-10-30 15:10] arjunsalyan commented on #318
It takes 5-10 minutes for changes made here to get deployed.

[2021-11-03 18:04] jasonliu-- opened #320 "Ordering messed up in `Port Health` list"
I just noticed that on the `Details` pages, the `Port Health` section appears to be displaying the various macOSes in the incorrect order. Specifically, `Snow Leopard (i386)` is currently listed between `Big Sur (x86_64)` and `Catalina`. I'm not 100% sure, but my sense is that the ordering used to be fine before, but might have gotten messed up starting when `Monterey` was added to the list. Seems

[2021-11-03 19:29] #320 closed, assigned to nobody

[2021-11-03 19:30] arjunsalyan commented on #320
I think most of the concerns from this ticket are fixed, if you still feel something is off please reopen.

[2021-11-03 19:35] arjunsalyan commented on #320
The suggestion to label `Snow Leopard (32-bit)` and `Snow Leopard (64-bit)` seems good to me, but then it would mean deviating from the buildbot convention.

[2021-11-03 19:55] mascguy commented on #320
Looks great Arjun, thanks for the quick fix!

[2021-11-03 20:08] jasonliu-- commented on #320
Looks great to me. The suggestion for `Snow Leopard (32-bit)` and `(64-bit)` was only in the absence of something like `Snow Leopard (x86_64)`, which I see you have already added. Having `Snow Leopard (x86_64)` and `Snow Leopard (i386)` helps to keep things consistent, since we now also have `(arm64)` and `(x86_64)`. :smiley:

[2021-11-08 16:09] ryandesign opened #321 "Old search links don't work anymore"
Old port search links in the wild don't work anymore. For example:

https://www.macports.org/ports.php?by=name&substr=subversion

ports.php is still around, exclusively to redirect these requests to their new equivalents. It redirects to:

https://ports.macports.org/?search=subversion&search_by=name

I would expect that to search for subversion, but it just displays the main ports page.

[2021-11-08 17:53] arjunsalyan commented on #321
I remember having this on my bucket list sometime while deploying the new website. I believe that this redirect should be fixed in macports-www itself. The old `ports.php` was written in accordance with the old macports-webapp, and having a reverse logic in new macports-webapp would only complicate things.

https://github.com/macports/macports-www/pull/26

[2021-11-08 19:34] ryandesign commented on #321
It can be changed in ports.php; sure. But presumably https://ports.macports.org/?search=subversion&search_by=name worked with the previous version of the web app, or we wouldn't have put that redirect into ports.php in the first place. Therefore, in order to preserve that style of link that might be out there in the wild, the new web app should also accept those old URLs.

[2021-11-20 19:28] jasonliu-- opened #322 "Multi-paragraph long descriptions (or could be: Long description formatting)"
In the `long_description` of Portfiles, it's possible to create long descriptions with multiple paragraphs by using two newlines, i.e. `\n\n`. Would it be possible to also display them on the website as separate paragraphs?

Also, some `long_descriptions` may include bulleted lists, typically using `*` as the bullet point character. This happens to also be the typical character used by many markup

[2021-11-22 20:10] jasonliu-- commented on #304
This has bothered me for a long time, and makes MacPorts seem like some sort of hobby project by a small group of teenagers learning to code for the first time, instead of showing the reality that MacPorts is an active, long-running project by a large group of dedicated volunteers all over the globe.

If I have some free time (this might be wishful thinking on my part, lol), I can try putting toge

[2021-11-23 18:43] jasonliu-- commented on #322
I just noticed Issue #133, so I supposed this Issue would be counted as a duplicate. My post proposes possible solutions though, so it might still be useful to whoever decides to tackle the issue.

[2021-11-30 20:35] larer opened #323 "Port pdfpc is missing"
Hi,

New to submitting issues, so I don't know if this is the appropriate way.Please be gentle on me as I'm a novice here.

I have used "pdfpc" to my liking previously, but with a new machine and new port install I fail to install it.
I cannot install the port pdfpc any longer, but now with a new Mac I cannot install it. It is not available on the site:
https://packages.macports.org/pdfpc
Trying t

[2021-11-30 21:13] mojca commented on #323
Dear @larer,

This particular issue tracker is only related to the website https://ports.macports.org/ itself, not to other macports-related issues like broken ports.

The port summary page https://ports.macports.org/port/pdfpc/details/ says that the port failed to build on all the platforms with a buildbot worker (10.6 to 12), but there is no ticket about it yet. If a port fails to build, you won

[2021-11-30 21:13] #323 closed, assigned to nobody

[2021-11-30 21:34] larer commented on #323
Hi!
Thanks for your super fast response!
How can I make a request for a new port. I would like to have the tool pympress in MacPorts (that I am using) this particular package is available in brew, so it should be possible to get it on MacPorts too...
Sorry for being such a Newbee...
Kind regards,
Lars Eriksson

[2021-11-30 21:39] mascguy commented on #323
No worries Lars, we're all happy to help!

New ports can be requested via the same process as bug reports. But when creating the ticket, set the "Type" field to "Request."

Here's an example of a new port request, which I recently submitted:
[63819 - tink/py-tink: new port request](https://trac.macports.org/ticket/63819)

[2021-12-10 00:07] gjolleyrogers opened #324 "octave install fails under Monterey"
As noted elsewhere, vecLibFort fails for Monterey. Attempted other variants. No joy.
Please advise if there's a workaround.

Oh, and thanks for all the sterling work.
G

--->  Fetching archive for vecLibFort
--->  Attempting to fetch vecLibFort-0.4.2_0.darwin_21.x86_64.tbz2 from https://packages.macports.org/vecLibFort
--->  Attempting to fetch vecLibFort-0.4.2_0.darwin_21.x86_64.tbz2 from https:/

[2021-12-10 03:26] jmroot commented on #324
This issue tracker is only for issues with the ports.macports.org web app. The issue building vecLibFort on Monterey is being tracked here: https://trac.macports.org/ticket/63717

[2021-12-10 03:26] #324 closed, assigned to nobody

[2021-12-14 13:58] bestlem commented on #324
Unfortunately there is no other place to report this from the main page - what links do you choose

[2021-12-14 15:53] mojca commented on #324
The main website https://www.macports.org/ lists a link saying "Report a bug" leading to https://trac.macports.org/newticket.

[2021-12-14 17:00] bestlem commented on #324
Yes but how do you get there from ports.macports.org when google has sent you here

[2021-12-14 17:05] arjunsalyan commented on #324
That's a valid point @bestlem, we sometime planned to add a "Report an issue" button on the port page (displayed on ports.macports.org). That's on the to-do list.

[2021-12-15 01:10] jmroot commented on #324
As #310, specifically.

[2021-12-16 14:13] herbygillot opened #325 "Maintainer facet lost when multiple facets enabled and going to the next page"
In the ports search page, if you select both a `maintainer` and `category` facet, only the `category` facet remains selected when you go to the next page.

To reproduce:

1. Go to the port search page
2. Choose a `maintainer` in the maintainer panel at the top left
3. Choose a `category` in the category panel
4. Hit the blue search button to apply those facets
5. Click on Page 2
6. Observe the mai

[2021-12-16 14:42] #325 closed, assigned to nobody

[2021-12-16 14:43] arjunsalyan commented on #325
The fixes should take effect within next 15 minutes on the site.

UPDATE: Fixes deployed to ports.macports.org

[2021-12-20 17:32] #321 closed, assigned to nobody

[2021-12-20 18:06] herbygillot commented on #325
Confirmed fixed, thank you very much @arjunsalyan

[2022-01-15 07:52] sudheerhebbale opened #330 "cscope not working after recent upgrade of mac ports using selupdate and upgrade of ports"
Installation and upgrade went through successfully

When I run cscope on commandline the following error gets thrown

$ cscope

dyld[39272]: symbol not found in flat namespace '_yylex'
Abort

Unable to figure out the issue

[2022-01-15 08:27] jmroot commented on #330
This is not an issue with the MacPorts web app. Please report port bugs on Trac: https://guide.macports.org/chunked/project.html#project.tickets

[2022-01-15 08:27] #330 closed, assigned to nobody

[2022-02-03 22:19] itoldusoandso opened #333 "sudo port install scrcpy ... Port scrcpy not found"
I have installed MacPorts.
bash-3.2$ sudo port install scrcpy
Error: Port scrcpy not found

I don't know if this is question here or in scrcpy?
https://github.com/Genymobile/scrcpy/issues/2256

Thank you for help.

[2022-02-03 22:38] jmroot commented on #333
This tracker is for issues with the MacPorts web app only, so I am closing this. It looks like you might just need to sync your ports tree. If you need further assistance, please see: https://www.macports.org/contact.php

[2022-02-03 22:38] #333 closed, assigned to nobody

[2022-02-04 19:51] mascguy commented on #110
I definitely would prefer that deleted ports be hidden by default, with the current checkbox changed to "Show deleted ports." (Disabled by default.)

Indeed, checking the box to hide deleted ports is a necessity for me personally, as there are a boatload of openmpi-* and mpich-* subports that were removed last year.

Just curious, why was this closed? Is the intention to implement this as part of

[2022-02-04 20:07] mascguy commented on #283
I'd also add: Don't show deleted subports, on the parent port's detail screen.

[2022-02-05 06:40] Dhruv-Sachdev1313 commented on #306
Hey! @mojca, I see this issue was opened 6 months back. I would love to work on this if this still needs to be fixed!

[2022-02-05 08:58] mojca commented on #306
@Dhruv-Sachdev1313: awesome! Sure, it's still a desirable fix and I'm not aware of anyone working on this. Feel free to go ahead and ask if something is unclear.

[2022-02-07 13:30] Dhruv-Sachdev1313 commented on #306
@mojca by main statistics page you mean the macPorts Version bar chart on https://ports.macports.org/statistics/ page right?
If this is it, then it seems a very small fix, I can do it right away!

[2022-02-07 13:32] arjunsalyan commented on #306
@Dhruv-Sachdev1313 Yes, https://ports.macports.org/statistics/ is referred to as the main statistics page here.

[2022-02-08 17:05] arjunsalyan commented on #310
Implemented in https://github.com/macports/macports-webapp/pull/331

[2022-02-08 17:05] #310 closed, assigned to nobody

[2022-02-08 17:07] arjunsalyan commented on #275
We no longer fetch data for these builders.

[2022-02-08 17:07] #275 closed, assigned to nobody

[2022-02-12 20:13] mascguy opened #335 "Update to Solr 8.x"
It might be worthwhile to update to Solr 8, assuming there aren't any major breaking changes (and/or other issues). An added bonus is that MacPorts provides a port for the latest Solr 8 release, simplifying local development setup.

I'm also willing to help with this migration, if it's not straightforward.

[2022-02-21 22:10] catap opened #336 "ports.macports.org missed at least one port: gcc10-bootstrap"
The url: https://ports.macports.org/port/gcc10-bootstrap/details/ says that port has been deleted.

But it quite alive: https://github.com/macports/macports-ports/blob/master/lang/gcc10-bootstrap/Portfile

[2022-02-28 18:49] syurin-nagatuki opened #337 "Scanning binaries for linking errors"
I tried to install mingw-w64.
However, it could not be installed with the following error.

#port install mingw-w64
--->  Computing dependencies for mingw-w64
--->  Cleaning mingw-w64
--->  Scanning binaries for linking errors
--->  No broken files found.
--->  No broken ports found.

[2022-02-28 18:51] #337 closed, assigned to nobody

[2022-02-28 18:52] syurin-nagatuki commented on #337
Maybe there is no problem.
I will investigate a little more and post again if there is a problem.
I'm sorry.

[2022-03-06 16:42] arjunsalyan commented on #336
The PortIndex is generated using the command `portindex -p macosx_19_i386` in a linux environment.

For a few ports, parsing errors are encountered, here is from the recent logs

[code]

`gcc10-bootstrap` falls in this list and hence it is not available in the PortIndex used by the website, that is why it is marked as deleted. There is an open Trac Ticket for the same https://trac.macports.org/tic

[2022-03-06 17:33] catap commented on #336
@arjunsalyan can you try `portindex -p macosx_21_arm`? I guess that should help.

[2022-03-06 22:50] jmroot commented on #336
As per the trac ticket, it's the ports, or more often the portgroups they include, that need to be fixed.

[2022-03-06 22:50] #336 closed, assigned to nobody

[2022-03-23 09:59] amake commented on #307
I set the webapp up for the first time today and I really would have appreciated a docker-compose.yml that did a one-command setup. Both Solr and Postgres have official Docker images, so it's "just" a matter of orchestrating things properly.

[2022-03-31 06:05] arjunsalyan commented on #335
We had to go with Solr 6.X because we use `django-haystack` for search and it only supports Solr 6.X . I am very doubtful if this upgrade would be possible as long as we use django-haystack.
https://django-haystack.readthedocs.io/en/master/installing_search_engines.html

[2022-03-31 06:08] arjunsalyan commented on #307
Fair point, a docker-compose can simplify local setup and development to a huge extent.

[2022-03-31 14:16] mascguy commented on #335
Makes sense, thanks for the info Arjun!

[2022-05-04 20:08] srwarner opened #340 "Boost 1.69 build error on Monterey"
--->  Building boost169
Error: Failed to build boost169: command execution failed
Error: See /opt/local/var/macports/logs/_opt_local_var_macports_sources_rsync.macports.org_macports_release_tarballs_ports_devel_boost169/boost169/main.log for details.
Error: rev-upgrade failed: Error rebuilding boost169
Error: Follow https://guide.macports.org/#project.tickets if you believe there is a bug.

[main.

[2022-05-04 20:13] srwarner commented on #340
... this is in the Darwin.jam already...
   (https://github.com/arvidn/libtorrent/issues/4662)

[2022-05-04 20:38] jmroot commented on #340
This is the issue tracker for the MacPorts web app only. Please report issues with ports on https://trac.macports.org/.

[2022-05-04 20:38] #340 closed, assigned to nobody

[2022-05-31 05:50] jmroot opened #342 "rust is listed as deleted"
https://ports.macports.org/port/rust/details/

My guess would be this is another parse failure like [#65183](https://trac.macports.org/ticket/65183), but I can't see the problem this time. @arjunsalyan, would you be able to check what the failure looks like?

Displaying the output of the most recent portindex run on the web app somewhere would be a useful feature, come to think of it.

[2022-05-31 05:58] arjunsalyan commented on #342
Yes, this is a parse-failure

[code]

This is the only failure.

We can display the output, yes. I will try to add raw outputs of this and some other background jobs somewhere to increase visibility.

[2022-05-31 06:34] #342 closed, assigned to nobody

[2022-05-31 06:35] jmroot commented on #342
Thanks. Would you like me to open a separate issue for the feature request?

[2022-06-02 17:43] arjunsalyan commented on #342
For some reason the parsing error with rust is still there

[code]

[2022-06-02 23:49] jmroot commented on #342
Oh yeah, portindex is run with -p, isn't it.

[2022-06-04 05:22] arjunsalyan commented on #342
Yes, it is

[code]

[2022-06-22 09:05] bestlem opened #343 "Unexpected update time on package screen, it does not show the time the portfile was updated."
I was looking at the xonsh details page on 22 Jun 2022 at 0900 GMT.

Two things seem odd
1) It shows no Trac tickets when I know there are some albeit closed. If this should just be showing the count of open tickets then please label it as such. Please make the link to trac work even if there a no open tickets as you should look at previous tickets before raising a new one.

2) The package had bee

[2022-06-22 09:08] bestlem commented on #310
No it is not implemented.

The Quick links are still wrong - see most of tyhe issues reported are not for the site but are build issues

Secondly how do you access trac when there are no openm tickets.

[2022-06-22 13:22] arjunsalyan commented on #343
Yes, it only shows open tickets as of now.

This is expected behaviour. Currently, `Updated at` gets set only when the version changes. As long as the version remains same, `Updated at` remains same. We could change the logic to reset on change in `Revision` as well though.

We could potentially change the title of this issue. Data is NOT inconsistent, in fact the currently coded logic is correctl

[2022-06-22 14:46] bestlem commented on #343
The page has now changed to say that Xonsh was updated 3 hours ago because of a new Xonsh version so I can't confirm what I saw.

From my view it was not expected behaviour and thus this issue.
I would suggest that updating to show change in revision as well might for the best as that will correspond to all changes in the port file which is the information you are after if debugging e.g. you can s

[2022-06-22 14:50] arjunsalyan commented on #343
The purpose of “Updated at” is not to report “all” updates to a portfile. You have commit history for that.

The page wants to report when a particular version was released.

[2022-06-22 15:06] bestlem commented on #343
How do I find from that page when a Portfile chnaged? Which is the importtany piece of information.

If you want to know about a version you need to know what version - and that data is not shown. In fact don't you want to know the date of the upstream change not the Portfile?

xonsh here is a good example not only did we have a macports issue with the release of 0.12.5 5 days ago which cause the

[2022-06-22 15:18] arjunsalyan commented on #343
The ports website is not just intended for port maintainers, but also for users who just want to install a piece of software.

For any user it is important information when the latest version of this port was released. It is correct that we are not storing the historical data about port versions - it is just the latest one from the Portfile.

For port maintainers, you can click on the GitHub butto

[2022-06-22 18:09] arjunsalyan commented on #310
I understand what you are trying to say here. Trac existed even when there was no Ports Website. You can always visit trac.macports.org which is a completely independent tool.

The website currently shows any open issues for the ports, and a direct link to create a new issue on Trac for that port.

Certainly there are improvements which can be done to this:

- it can be made more prominent that on

[2022-06-23 14:02] kencu opened #344 "known_fail should not be seen as a build success"
when a port sets known_fail on a system version, it should be displayed as a fail in the webapp, not a success

[2022-06-23 15:34] mascguy commented on #344
I'd prefer that we have a 3rd status - like "not supported," or something akin to that - to differentiate from a simple success/failure.

Anyone else... thoughts?

[2022-06-23 19:33] kencu commented on #344
Anything but success

[2022-06-23 22:03] jmroot commented on #344
AFAIK, you currently see the grey question mark for known_fail ports, since no build takes place. An indicator that it is known to fail rather than just not built would be nice.

Of course if there was a successful build of a previous version, #135 will be in effect.

[2022-06-25 17:36] mascguy commented on #344
Similarly, if there was at least one build failure prior to setting `known_fail`, that will also be in effect.

And that can be a bit frustrating, when drilling down the dependency tree.

[2022-06-25 17:53] mascguy opened #345 "Improve support for investigation of build failures, via status of upstream dependencies"
When investigating build failures caused by failing dependencies, this requires traveling down the rabbit hole, inspecting why an upstream port is failing.

This is routinely due to dependencies, which are only supported on newer macOS releases. But it can be a tedious and time-consuming effort to determine whats-what, particularly when one has to delve down three or more levels.

Ideally we shoul

[2022-06-25 17:56] #335 closed, assigned to nobody

[2022-08-22 12:49] potterpg opened #346 "What happens when a port fails to compile (+universal) and there is no maintainer?"
What happens when a port fails to compile (+universal) and there is no maintainer?

ie [jemalloc?](https://ports.macports.org/port/jemalloc/details/)

The auto build build either an arm64 or an x86_64, so seems like no one would ever know if a +universal build fails.

How or who resolves this kind of issue?

[2022-08-22 12:55] mascguy commented on #346
Great question!

First search for existing open tickets for the port(s) in question, via Trac:
* https://trac.macports.org/wiki/Tickets

Alternatively, you're always welcome to ask such questions via our Users mailing list:
* https://lists.macports.org/mailman/listinfo/macports-users

[2022-08-22 12:55] #346 closed, assigned to nobody

[2022-09-01 18:38] mascguy commented on #108
While this sounds great in principle, tracking deleted ports indefinitely isn't ideal either. Has there been any thought/discussion, related to purging that info? My vote would be that we remove one year after deletion.

Though I'd be fine with not purging, if we no longer show them within various areas of the UI. Per issue: [283 - Deleted ports: don't show livecheck; change option "hide deleted"

[2022-09-16 22:55] Coool commented on #333
[scrcpy](https://github.com/Coool/scrcpy-macOS-Binaries) for macOS

[2022-10-08 11:08] xuhengdada opened #349 "@rpath problems of the gcc/gfortran libraries"
Can we choose to use absolute path rather than use @rpath for these libraries when we install the gcc with MacPorts?

It looks strange for me that the libraries of gcc/gfortran use "@rpath" while many other packages use the absolute PATH.

Actually the "@rpath" sometimes causes problems that other libraries cannot find these libraries who use "@rpath".

[2022-10-08 12:16] jmroot commented on #349
This is the issue tracker for the MacPorts web app only. Issues with ports should be reported at https://trac.macports.org/

[2022-10-09 04:51] xuhengdada commented on #349
Thank you @jmroot.
I also found the solvent at https://trac.macports.org/ticket/65510

[2022-10-09 05:39] #349 closed, assigned to nobody

[2022-11-15 01:49] Yashwanth131091 opened #350 "unable to build Scotch via macports"
**Please make sure the Issue you are creating is related to macports-webapp (the website running at ports.macports.org) only.**

For issues related to ports and MacPorts software, please use Trac:
- Trac: https://trac.macports.org
- Existing Tickets: https://trac.macports.org/wiki/Tickets

#### Explain the bug/suggestion/feature-request related to the website https://ports.macports.org below

I am

[2022-11-15 02:28] jmroot commented on #350
Open a ticket on Trac and attach the log there.

[2022-11-15 02:28] #350 closed, assigned to nobody

[2022-11-19 15:41] Dave-Allured opened #351 "Valid ports are shown as deleted"
2022 November 19:

Webapp on the Ports website shows some valid ports as "deleted".  For example, go to the URL for **hdf5**:

https://ports.macports.org/port/hdf5/details/

`This port has been deleted. This page will exist till another port with the name "hdf5" comes into existence.`

Related, the search box does not find this port.  It finds ports with **hdf5** in the name, but not **hdf5** itse

[2022-11-19 16:28] jmroot commented on #351
I gather this is because the MacPorts installation backing the web app is outdated, and so fails to parse portfiles that use features introduced in 2.8.

[2022-11-19 16:38] arjunsalyan commented on #351
The site is now running with MacPorts 2.8.0 on the machine. I am unable to find `hdf5` in parsed or failed ports in the PortIndex used to populate the website. Can it be due to faking of the platform to `macosx_19_i386`?

[2022-11-19 17:03] jmroot commented on #351
It's not mentioned at all in the `portindex` output? If there was a problem due to faking the platform it would generally manifest as a parse failure.

[2022-11-19 17:24] arjunsalyan commented on #351
Nope, it is not in the `PortIndex` output. By the fake platform I was thinking maybe it is not supposed to be available on that particular version? There are a few ports that do not appear in the faked `PortIndex`.

[2022-11-19 17:30] arjunsalyan commented on #351
@Dave-Allured do you know any other examples of ports which show incorrect information?

[2022-11-19 17:38] jmroot commented on #351
All ports should exist on all platforms, they may just not be installable on some (or may fail to parse, which is a bug that should be fixed.) The only way `portindex` should produce neither a PortIndex entry or an error is if the Portfile is missing from the tree.

[2022-11-19 17:41] jmroot commented on #351
`qt5-qtbase` is also showing as deleted, for one.

[2022-11-19 17:47] jmroot commented on #351
There must be quite a few more, as my local port count is 30,089 while the count shown on the web app is 29,580.

[2022-11-19 17:48] arjunsalyan commented on #351
`qt5` ports show up in parsing errors

[code]

[2022-11-19 18:09] jmroot commented on #351
OK, the Qt* parse failures should be fixed now.

[2022-11-19 18:10] arjunsalyan commented on #351
Okay there is `hdf5`, for some reason my search over `PortIndex.quick` wasn't showing any results. Since, it is there in the portindex now, these inconsistencies will get fixed during the next full database sync.

But the cause for it seems to be what Joshua suggested about the old MacPorts version. Until last week the machine had MP 2.6.8. At some point there would have been a parse failure, and

[2022-11-19 18:12] arjunsalyan commented on #351
Oh wow, thanks @jmroot . The errors are all gone, I will trigger a full database sync right away to speed up the cleanup process.

[code]

[2022-11-19 20:25] Dave-Allured commented on #351
It looks like all the port info pages are now displaying correctly and not showing "deleted".

However, some ports are still not showing up in search results.  qt5-qtbase is showing, but hdf5 and ncarg are not.  Is there still some kind of synchronization problem?

[2022-11-20 00:50] arjunsalyan commented on #351
The search index will catch up soon.

[2022-11-20 09:14] arjunsalyan commented on #351
@Dave-Allured The search index seems to have synced. Please see if things are as expected now.

[2022-11-20 13:23] Dave-Allured commented on #351
Yes, the search box is now finding all ports in question.  Thanks @jmroot and @arjunsalyan for fast response.

[2022-11-20 13:23] #351 closed, assigned to nobody

[2022-11-25 15:20] SkyForceCoder opened #352 "Fetching archive failed: - sudo port install py38-scipy"
Hi there,

I was installing  py38-scipy  using command -"sudo port install py38-scipy "
I see below files were requested but did not exist in the given locations.

Error:

Attempting to fetch py38-scipy-1.9.3_0+gfortran+openblas.darwin_22.x86_64.tbz2 from https://packages.macports.org/py38-scipy
:debug:archivefetch Fetching archive failed: The requested URL returned error: 404

:msg:archivefetch -

[2022-11-25 15:38] jmroot commented on #352
1. This is the issue tracker for the MacPorts web app running at ports.macports.org only. Issues installing ports should be reported at trac.macports.org.
2. There are no binaries for macOS 13 yet, so MacPorts will build from source after attempting to fetch the binary archive fails.

[2022-11-25 15:38] #352 closed, assigned to nobody

[2022-11-25 15:48] SkyForceCoder commented on #352
Thanks! I reported this issue to  trac.macports.org -> https://trac.macports.org/ticket/66345#ticket

[2022-11-25 23:47] jmroot opened #353 "Poor site performance"
The site seems to be really slow at the moment. Pages are often taking 10+ seconds to load and are occasionally timing out completely.

[2022-11-26 07:34] arjunsalyan commented on #353
CPU usage for the database has spiked up. I got some time to quickly run a quick cleanup of the database but that is not helping. I will also try to contact the hosting company if this is some underlying degradation on their end.

[2022-11-30 16:57] arjunsalyan commented on #353
The performance seems to have returned to normal. This required both - some work with the database and a bit of tweaking from the hosting company.

[2022-11-30 19:35] jmroot commented on #353
Great, I can confirm it seems OK again for me too. Thanks for working on it.

[2022-11-30 19:35] #353 closed, assigned to nobody